<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        日志列表
        <small>LogList</small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>用户名</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="请输入用户名">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>时间</label>
                    <input type="text" class="form-control datepicker" id="startTime" readonly="readonly" />
                    <span>至</span>
                    <input type="text" class="form-control datepicker" id="endTime" readonly="readonly" />
                  </div>
                  <button class="btn btn-default" id="btn_search">搜索</button>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="logDataTable" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th>帐号</th>
                  <th>用户名</th>
                  <th>操作名</th>
                  <th>操作内容</th>
                  <th>时间</th>
                  <th>IP地址</th>
                </tr>
                </thead>
              </table>
            </div>
            <!-- /.box-body -->
          </div>

        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div th:include="include :: footer"></div>

    <script th:inline="javascript">
      $(function () {
        // 加载列表
        $.table.init({
          id: "logDataTable",
          info: true,
          url: ctx + "sys/log/list",
          pageLength: 15,
          data : {
            userName: $("#account").val(),
            name: $("#account_Name").val()
          },
          columns: [
            { data: "account"},
            { data: "name"},
            { data: "operationName"},
            { data: "operationContent", width: "50%"},
            { data: "operationTime"},
            { "data": "address"}
          ]
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            name: $("#name").val(),
            startTime :$("#startTime").val(),
            endTime : $("#endTime").val()
          });
        });

      });

    </script>
</body>
</html>
