<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>

<body class="hold-transition skin-blue sidebar-mini">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        多项目看板
        <small>多项目看板</small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">

              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目号</label>
                    <input type="text" id="codeQuery" name="code" class="form-control" placeholder="请输入项目号">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目名称</label>
                    <input type="text" id="nameQuery" name="name" class="form-control" placeholder="请输入项目名称">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>需方</label>
                    <input type="text" id="demander" name="demander" class="form-control" placeholder="请输入需方">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>年度</label>
                    <select id="year" name="year" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                    </select>
                  </div>

                  <div class="form-group" style="margin-right: 10px;">
                    <label>设计科室</label>
                    <select id="departmentQuery" name="departmentQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                      <option value="1,1">机械设计一科</option>
                      <option value="1,2">机械设计二科</option>
                      <option value="1,3">机械设计三科</option>
                      <option value="1,4">机械设计四科</option>
                      <option value="1,5">机械设计五科</option>
                      <option value="1,6">机械设计六科</option>
                      <option value="1,7">机械设计七科</option>
                      <!--<option value="1,8">机械设计八科</option>-->
                      <option value="2,1">液压设计一科</option>
                      <option value="2,2">液压设计二科</option>
                      <option value="3,1">电气设计一科</option>
                      <option value="3,2">电气设计二科</option>
                      <option value="3,3">电气设计三科</option>
                      <option value="4,1">软件设计科</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>状态</label>
                    <select id="statusQuery" name="statusQuery" class="form-control select2" >
                      <option value="1" selected="selected">未完成</option>
                      <option value="2">已完成</option>
                      <option value="">全部</option>
                    </select>
                  </div>
                  <button class="btn btn-default" id="btn_search">搜索</button>


                </div>
              </div>

              <div class="row" style="margin-top: 10px">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>时间</label>
                    <input type="text" class="form-control datepicker" id="startTime" readonly="readonly" />
                    <span>至</span>
                    <input type="text" class="form-control datepicker" id="endTime" readonly="readonly" />
                  </div>
                </div>
              </div>


            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="projectDataTables" class="table table-bordered">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>项目名称</th>
                  <th>需方</th>
                  <th>安装地点</th>
                  <th>项目号</th>
                  <th>任务单号</th>
                  <th>数量</th>
                  <th>设计计划完成时间</th>
                  <th>签技术协议</th>
                  <th>签合同</th>
                  <th>设计科室</th>
                  <th>设计</th>
                  <th>工艺</th>
                  <th>制造及安装</th>
                  <th>调试<br>运行</th>
                  <th>验收</th>
                  <th>图纸<br>存档</th>
                  <th>备注</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <div id="goToTop" th:style="|position:fixed; right:0px; bottom:10px; width:20px; height:75px; background-image: url(@{/img/gototop.gif}); cursor:pointer|"></div>
    <!-- /.content -->
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var projectTable, temp;
      var deptName = ["","机械设计","液压设计","电气设计","软件设计"];
      var deptNum = ["","一科","二科","三科","四科","五科","六科","七科","八科"];
      var statusName = ["未开始","执行中","已完成","已取消"];

      /** 刷新列表 */
      function reloadTable() {
        projectTable.destroy();
        getProjectList();
      }

      /** 加载列表 */
      function getProjectList() {

        projectTable = $('#projectDataTables').DataTable( {
          /*buttons: [
            {
              extend: 'excel',
              text: '导出Excel',
              className: 'btn btn-success pull-right',
              filename: 'projects',
              exportOptions: {
                // 将打印 id 和 title 列
                columns: [ 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]
              }
            }
          ],*/
          fixedHeader: true,
          scrollX: false,
          "info": false,
          "ordering": false,
          "autoWidth": true,
          "lengthChange": false,  //每页显示的记录数
          "pageLength": 300,
          // "dom": "<'row'<'col-sm-6'><'col-sm-6'p>>t<'row'<'col-sm-6'B><'col-sm-6'p>>",
          "dom": "<'row'<'col-sm-6'><'col-sm-6'p>>t<'row'<'col-sm-6'><'col-sm-6'p>>",
          "searching":false,//禁用搜索
          "processing": true,
          "serverSide": true,
          "ajax": {
            url : "/project/many",
            type : "POST",
            data : {
              "code": $("#codeQuery").val(),
              "name": $("#nameQuery").val(),
              departmentQuery : $("#departmentQuery").val(),
              "startTime": $("#startTime").val(),
              "endTime": $("#endTime").val(),
              "statusQuery" : $("#statusQuery").val(),
              "demander": $("#demander").val(),
              "year" : $("#year").val()
            },
            dataSrc : function (json) {
              if (json.status === 200) {
                json.draw = json.content.draw;
                json.recordsTotal = json.content.recordsTotal;
                json.recordsFiltered = json.content.recordsFiltered;
                json.data = json.content.data;
              }
              return json.data;
            }
          },
          "fixedColumns": {
            "rightColumns": 1
          },
          "columns": [
            { "data": "projectNo",
              "width": "8px"
            },
            { "data": "name",
              "width": "80px"
            },
            { "data": "demander",
              "width": "80px"
            },
            { "data": "address",
              "width": "80px"
            },
            { "data": "code",
              "width": "100px"
            },
            { "data": "codeSpecial",
              "width": "100px"
            },
            { "data": "num",
              "width": "30px"
            },
            { "data": "planTime",
              "width": "100px"
            },
            { "data": "signStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if(!row.signAnnotate)
                  return statusName[data];
                return '<span title="' + row.signAnnotate + '" class="title-alert">' + statusName[data] + '</span>';
              }
            },
            { "data": "contractStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if(!row.contractAnnotate)
                  return statusName[data];
                return '<span title="' + row.contractAnnotate + '" class="title-alert">' + statusName[data] + '</span>';
              }
            },
            { "data": "deptType",
              "width": "140px",
              render : function(data, type, row, meta) {
                if (!row.annotates != null && !row.annotates != '')
                  return deptName[data] + deptNum[row.deptNum];
                return '<span title="' + row.annotates + '" class="title-alert">' + deptName[data] + deptNum[row.deptNum] + '</span>';
              }
            },
            { "data": "deptStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if(data > 0 && data < 8)
                  data = 1;
                if(data === 8)
                  data = 2;
                return statusName[data];
              }
            },
            { "data": "produceStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if(data > 0 && data < 6)
                  data = 1;
                if(data === 6)
                  data = 2;
                return statusName[data];
                /*if (!row.produceAnnotate != null && !row.produceAnnotate != '')
                  return statusName[data];
                return '<span title="' + row.produceAnnotate + '" class="title-alert">' + statusName[data] + '</span>';*/
              }
            },
            { "data": "installStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if(data > 0 && data < 6)
                  data = 1;
                if(data === 6)
                  data = 2;
                return statusName[data];
                /*if (!row.installAnnotate != null && !row.installAnnotate != '')
                  return statusName[data];
                return '<span title="' + row.installAnnotate + '" class="title-alert">' + statusName[data] + '</span>';*/
              }
            },
            { "data": "debugStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if (!row.debugAnnotate != null && !row.debugAnnotate != '')
                  return statusName[data];
                return '<span title="' + row.debugAnnotate + '" class="title-alert">' + statusName[data] + '</span>';
              }
            },
            { "data": "acceptStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if (!row.acceptAnnotate != null && !row.acceptAnnotate != '')
                  return statusName[data];
                return '<span title="' + row.acceptAnnotate + '" class="title-alert">' + statusName[data] + '</span>';
              }
            },
            { "data": "saveStatus",
              "width": "70px",
              render : function(data, type, row, meta) {
                if (!row.saveAnnotate != null && !row.saveAnnotate != '')
                  return statusName[data];
                return '<span title="' + row.saveAnnotate + '" class="title-alert">' + statusName[data] + '</span>';
              }
            },
            { "data": "comment",
              "width": "100px",
              render : function(data, type, row, meta) {
                if (data.length > 10) {
                  return '<span title="' + data + '">' + data.substr(0, 10) + '...</span>';
                }
                return data;
              }
            },
            { "data": "id",
              // "width": "40px",
              render : function(data, type, row, meta) {
                return '<a style="margin-right: 5px" class="btn btn-info btn-xs many-view" href="/project/single/' + data + '">查看</a>';
              }
            }
          ],
          "createdRow": function ( row, data, index ) {
            if(data.signStatus === 1)
              $('td', row).eq(8).css("background", '#f39c12');
            if(data.signStatus === 2)
            // $('td', row).eq(8).addClass("success-status");
              $('td', row).eq(8).css("background", '#00a65a');

            if(data.contractStatus === 1)
              $('td', row).eq(9).css("background", '#f39c12');
            if(data.contractStatus === 2)
              $('td', row).eq(9).css("background", '#00a65a');

            if(data.deptStatus > 0 && data.deptStatus < 8)
              $('td', row).eq(11).css("background", '#f39c12');
            if(data.deptStatus === 8)
              $('td', row).eq(11).css("background", '#00a65a');

            if(data.produceStatus > 0 && data.produceStatus < 6)
              $('td', row).eq(12).css("background", '#f39c12');
            if(data.produceStatus === 6)
              $('td', row).eq(12).css("background", '#00a65a');

            if(data.installStatus > 0 && data.installStatus < 6)
              $('td', row).eq(13).css("background", '#f39c12');
            if(data.installStatus === 6)
              $('td', row).eq(13).css("background", '#00a65a');

            if(data.debugStatus === 1)
              $('td', row).eq(14).css("background", '#f39c12');
            if(data.debugStatus === 2)
              $('td', row).eq(14).css("background", '#00a65a');

            if(data.acceptStatus === 1)
              $('td', row).eq(15).css("background", '#f39c12');
            if(data.acceptStatus === 2)
              $('td', row).eq(15).css("background", '#00a65a');

            if(data.saveStatus === 1)
              $('td', row).eq(16).css("background", '#f39c12');
            if(data.saveStatus === 2)
              $('td', row).eq(16).css("background", '#00a65a');



            if (data.projectStatus === 0) {
              // $(row).addClass("delete-status")
              $(row).css('background', '#FF0000');
            }
            if (data.projectStatus === 3) {
              $(row).css('background', '#f39c12');
            }
            if (temp!=null && data.code === $('td', temp).eq(4).html()) {
              rowspan = $('td', temp).eq(4).attr("rowSpan");
              if (rowspan === undefined) {
                $('td', temp).eq(4).attr("rowSpan",1);
                rowspan = $('td', temp).eq(4).attr("rowSpan");
              }
              rowspan = Number(rowspan)+1;
              merge(temp, row, rowspan, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 13, 14, 15, 16, 17, 18]);
            } else {
              temp = row;
              $('td', row).css("border-top", '1px solid black');
            }
          },
          "language" : { // 国际化配置
            "sProcessing" : "正在获取数据，请稍后...",
            "sLengthMenu" : "显示 _MENU_ 条",
            "sZeroRecords" : "没有找到数据",
            "info" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "infoEmpty" : "记录数为0",
            "infoFiltered" : "(全部记录数 _MAX_ 条)",
            "paginate" : {
              "first" : "第一页",
              "previous" : "上一页",
              "next" : "下一页",
              "last" : "最后一页"
            }
          }
        });
      }

      // 合并单元格
      function merge(tr,row,n,arr) {
        $.each(arr,function (i, v) {
          $('td', tr).eq(v).attr("rowSpan",n);
          $('td', row).eq(v).hide();
        })

        /*for (var i = arr.length - 1; i >= 0  ; i--) {
          $('td', tr).eq(i).attr("rowSpan",n);
          $('td', row).eq(i).remove();
        }*/
      }

      /** 搜索按钮事件 */
      function searchEvent() {
        $("#btn_search").click(function () {
          temp = null;
          reloadTable();
        });
      }

      function yearSelectCreate() {
        var myDate= new Date();
        var endYear=myDate.getFullYear();//结束年份
        for (var i=2016;i<=endYear;i++)
        {
          if(i === 2016)
            $("#year").append("<option value='"+ i +"'>"+ i + "年及以前" +"</option>");
          else
            $("#year").append("<option value='"+ i +"'>"+ i + "年" +"</option>");
        }
      }

      function setPermission() {
        projectTable.on( 'draw.dt', function () {
          var roles = [[${session.roles}]];
          var permissions = [[${session.permissions}]];
          if ($.inArray('many:view', permissions) === -1) {
            $(".many-view").hide();
          }
        } );
      }

      $(function () {

        yearSelectCreate();

        // 加载列表
        getProjectList();

        // 摷索事件
        searchEvent();

        // setPermission();

        // 分页按钮点击事件
        $('#projectDataTables').on( 'page.dt', function () {
          temp = null;
        });

        // 日期控件配置
        $('.datepicker').datepicker({
          format: 'yyyy-mm-dd',
          language: 'zh-cn',
          autoclose: true,
          clearBtn: true
        });


        var topDistance = 500;
        var showDistance = 1;
        var thisTop = $(window).scrollTop() + topDistance;
        // $('#goToTop').css('top' ,thisTop);
        if ($(window).scrollTop() < showDistance) {
          $('#goToTop').hide();
        }
        $(window).scroll(function () {
          thisTop = $(this).scrollTop() + topDistance;        //获取当前window向上滚动的距离
          if ($(this).scrollTop() > showDistance) {
            $('#goToTop').fadeIn();
          } else {
            $('#goToTop').fadeOut();
          }
        });

        // 给按钮绑定一个click事件，点击按钮时，返回顶部
        $('#goToTop').click(function () {
          $('html ,body').animate({scrollTop: 0}, 300);
          return false;
        });

      });

    </script>
</body>
</html>


