<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        添加任务名称
      </h1>
    </section>
    <section class="content">
      <form id="taskNameForm" class="form-horizontal">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <h3>任务名称基本信息</h3>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" >
                    <label for="name" class="col-sm-2 control-label">任务名称</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="name" name="name" placeholder="请输入任务名称">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="taskType" class="col-sm-2 control-label">任务名称类型</label>
                    <div class="col-sm-10">
                      <select id="taskType" class="form-control select2" name="taskType.id" style="width: 100%;">
                        <option th:each="type:${taskType}" th:value="${type.id}" th:text="${type.name}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group" id="sectionTypeGroup">
                    <label for="sectionType" class="col-sm-2 control-label">科室类型</label>
                    <div class="col-sm-10">
                      <select id="sectionType" class="form-control select2" name="sectionType.id" style="width: 100%;">
                        <option value="">请选择</option>
                        <option th:each="type:${sectionType}" th:value="${type.id}" th:text="${type.name}"></option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="sectionType" class="col-sm-2 control-label">排序编号</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="orderNo" name="orderNo" placeholder="请输入任务编号">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="box-footer">
              <button type="button" id="btn_create" class="btn btn-info pull-right">提交</button>
            </div>
          </div>
        </div>
      </div>
      </form>
    </section>
    <div th:include="include :: footer"></div>
    <script>
      var ctx = ctx + "baseinfo";
      $(function () {
        // 验证初始化
        $.validate.init("taskNameForm",{
          fields: {
            name: {
              validators: {
                notEmpty: {message: '请输入任务名称'}
              }
            }
          }
        });
        // 创建部门类型
        $("#btn_create").click(function () {
          if ($.validate.isValid()) {
            $.operate.post(ctx + "/taskname/save",$("#taskNameForm").serialize(), function () {
              location.href = ctx + "/taskname/page";
            });
          }
        });
      });
    </script>
</body>
</html>
