<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        任务名称列表
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>名称</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入名称">
                  </div>
                  <button class="btn btn-vk" id="btn_search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  <a th:href="@{/baseinfo/taskname/create}" class="btn btn-info pull-right" >添加</a>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-7">
                  <table id="taskNameTable" class="table table-bordered table-hover" width="100%">
                  <thead>
                  <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>排序编号</th>
                    <th>所属任务类型</th>
                    <th>所属科室类型</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                </table></div>
                <div class="col-md-5">
                  <form id="taskNameForm" class="form-horizontal">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="code" name="code">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">任务类型</label>
                        <div class="col-sm-6">
                          <select id="taskType" class="form-control select2" name="taskType.id" style="width: 100%;">
                            <option th:each="type:${taskType}" th:value="${type.id}" th:text="${type.name}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="code" class="col-sm-2 control-label">科室类型</label>
                        <div class="col-sm-6">
                          <select id="sectionType" class="form-control select2" name="sectionType.id" style="width: 100%;">
                            <option value="">请选择</option>
                            <option th:each="type:${sectionType}" th:value="${type.id}" th:text="${type.name}"></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="sectionType" class="col-sm-2 control-label">排序编号</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control" id="orderNo" name="orderNo" placeholder="请输入任务编号">
                        </div>
                      </div>
                    </div>
                    <div class="box-footer">
                      <button type="button" id="btn_edit" class="btn btn-info pull-right" disabled>修改</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
      var ctx = ctx + "baseinfo";
      // 删除部门类型
      function updateStatus(id) {
        $.modal.confirm("确定删除这个任务名称吗?",function () {
          $.operate.post(ctx + "/taskname/status", {"id": id}, function () {
            $.table.refresh();
            if (id == $("#id").val()) {
              $("#id").val('');
              $("#name").val('');
              $("#btn_edit").attr("disabled",true);
            }
            $.validate.reset();
          });
          event.stopPropagation();
        });
      }

      $(function () {
        // 加载表格
        $.table.init({
          id: "taskNameTable",
          info: true,
          url: ctx + "/taskname/list",
          columns: [
            {
              data: null,
              render : function (data, type, row, meta) {
                return meta.row + 1;
              }
            },
            { data: "name"},
            { data: "orderNo"},
            { data: "taskType.name"},
            { data: "sectionType.name"},
            { data: "id",
              render : function(data, type, row, meta) {
                var html = [];
                html.push('<a class="btn btn-danger btn-xs taskname-del" href="javascript:void(0);" onclick="updateStatus(' + data + ')">删除</a>');
                return html.join('');
              }
            }
          ]
        });
        // 点击行
        $.table.rowClick(function (data) {
          $("#id").val(data.id);
          $("#name").val(data.name);
          $("#orderNo").val(data.orderNo);
          $("#taskType").val(data.taskType.id);
          $("#sectionType").val(data.sectionType ? data.sectionType.id : '');
          $("#btn_edit").removeAttr("disabled");
          $.validate.validing();
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            nameQuery: $("#nameQuery").val()
          });
        });
        // 验证
        $.validate.init("taskNameForm",{
          fields: {
            name: {
              validators: {
                notEmpty: {message: '请输入任务名称'}
              }
            }
          }
        });
        // 修改
        $("#btn_edit").click(function () {
          if ($.validate.isValid()) {
            $.operate.post(ctx + "/taskname/update",$("#taskNameForm").serialize(),function () {
              $.table.refresh();
            });
            $.validate.reset();
          }
        });
      });

    </script>
</body>
</html>
