<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
  <h1>
    编辑权限
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3>权限基本信息</h3>
        </div>
        <form id="permissionForm" class="form-horizontal">
          <input type="hidden" id="id" name="id" th:value="${permission.id}">
          <div class="box-body">
            <div class="form-group">
              <label for="description" class="col-sm-2 control-label">描述</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" th:value="${permission.description}" placeholder="描述">
              </div>
            </div>
            <div class="form-group">
              <label for="permissionName" class="col-sm-2 control-label">权限名</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="permissionName" name="permissionName" th:value="${permission.permissionName}" placeholder="权限名" >
              </div>
            </div>
            <!--<div class="form-group">
              <label for="url" class="col-sm-2 control-label">Url</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="url" name="url" th:value="${permission.url}" placeholder="资源地址">
              </div>
            </div>-->
            <div class="form-group">
              <label for="orderNo" class="col-sm-2 control-label">分组排序</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" id="orderNo" name="orderNo" th:value="${permission.orderNo}" placeholder="请输入分组排序">
              </div>
            </div>
          </div>
          <div class="box-footer">
            <button type="button" id="btn_create" class="btn btn-info pull-right">提交</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<div th:include="include :: footer"></div>

<script>
  // 编辑权限
  $(function () {
    // 验证
    $.validate.init("permissionForm",{
      fields: {
        permissionName: {
          validators: {
            notEmpty: {message: '请输入权限名'},
            remote: {
              url: ctx + "sys/permission/checkPermissionNameUnique",
              message: '资源已存在',
              delay: 200,
              type: 'POST',
              data: {
                id : function () {
                  return $("#id").val();
                }
              }
            }
          }
        },
        description: {validators: {notEmpty: {message: '请输入描述'}}}
      }
    });
    $.validate.validing();
    $("#btn_create").click(function () {
      if ($.validate.isValid()) {
        $.operate.post(ctx + "sys/permission/update", $("#permissionForm").serialize(), function () {
          location.href = ctx + "sys/permission/page";
        });
      }
    });
  });

</script>
</body>
</html>
