<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        权限列表
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>权限码</label>
                    <input type="text" id="permissionName" name="permissionName" class="form-control" placeholder="请输入权限名">
                  </div>
                  <button class="btn btn-default" id="btn_search">搜索</button>
                  <a shiro:hasPermission="permission:create" th:href="@{/sys/permission/create}" class="btn btn-info pull-right" id="btn_add">添加</a>
                </div>
              </div>
            </div>
            <div class="box-body">
              <table id="permissionDataTable" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>权限</th>
                  <th>权限码</th>
                  <th>分组排序</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
      // 构建子项
      function buildChildren (d) {
        var html = [];
        html.push('<table class="table table-bordered">');
        var hasChildren = false;
        $.each(d.children, function(i,v){
          html.push('<tr><td>&nbsp;</td>');
          html.push('<td>' + v.description + '</td>');
          html.push('<td>' + v.permissionName + '</td>');
          html.push('<td>' + v.orderNo + '</td>');
          html.push('<td><a style="margin-right: 5px" class="btn btn-warning btn-xs permission-update" href="' + ctx + 'sys/permission/edit/' + v.id + '" >编辑</a>');
          html.push('<a class="btn btn-danger btn-xs permission-delete" href="javascript:void(0)" onclick="updateStatus(' + v.id + ')" >删除</a></td></tr>');
          hasChildren = true;
        });
        if(!hasChildren){
          html.push('<tr><td>这里没有子权限</td></tr>');
        }
        html.push('</table>');
        return html.join('');
      }

      // 删除
      function updateStatus(id) {
        $.modal.confirm("确定删除这个权限吗?",function () {
          $.operate.post(ctx + "sys/permission/status", {id: id, status: status}, function () {
            $.table.refresh();
          })
        });
      }

      $(function () {
        // 加载表格
        $.table.init({
          id: "permissionDataTable",
          info: true,
          url: ctx + "sys/permission/list",
          data : {
            permissionName: $("#permissionName").val()
          },
          columns: [
            { "data": null,
              "className": 'details-control',
              "defaultContent": ''
            },
            { "data": "description"},
            { "data": "permissionName"},
            { "data": "orderNo"},
            { "data": "id",
              render : function(data, type, row) {
                var html = [];
                if (row.children.length > 0) {
                  html.push('<a style="margin-right: 5px" shiro:hasPermission="permission:create" class="btn btn-info btn-xs permission-create" href="' + ctx + 'sys/permission/create/' + data + '" >添加</a>');
                  html.push('<a style="margin-right: 5px" shiro:hasPermission="permission:update" class="btn btn-warning btn-xs permission-update" href="' + ctx + 'sys/permission/edit/' + data + '" >编辑</a>');
                } else {
                  html.push('<a style="margin-right: 5px" shiro:hasPermission="permission:create" class="btn btn-info btn-xs permission-create" href="' + ctx + 'sys/permission/create/' + data + '" >添加</a>');
                  html.push('<a style="margin-right: 5px" shiro:hasPermission="permission:update" class="btn btn-warning btn-xs permission-update" href="' + ctx + 'sys/permission/edit/' + data + '" >编辑</a>');
                  html.push('<a shiro:hasPermission="permission:delete" class="btn btn-danger btn-xs" href="javascript:void(0) permission-delete" onclick="updateStatus(' + data + ')" >删除</a>');
                }
                return html.join('');
              }
            }
          ],
          // 表格绘制完成处理回调， 删除无权限按钮
          drawCallback: function () {
            if ($.inArray('*:*:*', permissions) === 0) {
              return;
            }
            if ($.inArray('permission:create', permissions) === -1) {
              $(".permission-create").remove();
            }
            if ($.inArray('permission:update', permissions) === -1) {
              $(".permission-update").remove();
            }
            if ($.inArray('permission:delete', permissions) === -1) {
              $(".permission-delete").remove();
            }
          }
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            permissionName: $("#permissionName").val()
          });
        });
        // 展开折叠
        $('#permissionDataTable tbody').on('click', 'td.details-control', function () {
          var tr = $(this).closest('tr');
          var row = $.table._table.row(tr);
          if ( row.child.isShown() ) {
            row.child.hide();
            tr.removeClass('shown');
          }
          else {
            row.child(buildChildren(row.data())).show();
            tr.addClass('shown');
          }
        });
      });

    </script>
</body>
</html>
