<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        工艺进度看板
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目号</label>
                    <input type="text" id="codeQuery" name="code" class="form-control" placeholder="请输入项目号">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目名称</label>
                    <input type="text" id="nameQuery" name="name" class="form-control" placeholder="请输入项目名称">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>年度</label>
                    <select id="yearQuery" name="yearQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>
                      工艺状态
                    </label>
                    <select id="statusQuery" name="statusQuery" class="form-control select2" >
                      <option value="1" selected="selected">未完成</option>
                      <option value="2">已完成</option>
                      <option value="">全部</option>
                    </select>
                  </div>
                  <button class="btn btn-default" id="btn_search">搜索</button>
                  <!--<button class="btn btn-default" id="btn_collect" disabled>统计</button>-->
                </div>
              </div>
            </div>
            <div class="box-body">
              <table id="processTable" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>项目名称</th>
                  <th>需方</th>
                  <th>安装地点</th>
                  <th>项目号</th>
                  <th>任务单号</th>
                  <th>数量</th>
                  <th>原材料<br>外协计划</th>
                  <th>工艺编制</th>
                  <th>外购计划</th>
                  <th>备注</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="goToTop" th:style="|position:fixed; right:0px; bottom:10px; width:20px; height:75px; background-image: url(@{/img/gototop.gif}); cursor:pointer|"></div>
    <!-- /.content -->
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var ctx = ctx + 'board'
      var statusName = ["未开始","执行中","已完成","已取消"];
      var statusColor = ["", "#f39c12", "#00a65a"];
      
      function yearSelectCreate() {
        var myDate= new Date();
        var endYear=myDate.getFullYear();//结束年份
        for (var i=2016;i<=endYear;i++)
        {
          if(i === 2016)
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年及以前" +"</option>");
          else
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年" +"</option>");
        }
      }

      $(function () {
        yearSelectCreate();
        // 加载列表
        $.table.init({
          buttons: [
            {
              extend: 'excel',
              text: '导出Excel',
              className: 'btn btn-success pull-right',
              filename: '工艺进度',
              exportOptions: {
                columns: [ 0,1,2,3,4,5,6,7,8,9,10]
              }
            }
          ],
          id: "processTable",
          info: true,
          fixedHeader: true,
          scrollX: true,
          dom: "Tf<'row'<'col-sm-5 col-sm-offset-6'p><'col-sm-1'B>>t<'row DTTTFooter'<'col-sm-6'i><'col-sm-5'p><'col-sm-1'B>>",
          url: ctx + "/process/list",
          data : {
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            statusQuery : $("#statusQuery").val(),
            yearQuery : $("#yearQuery").val()
          },
          fixedColumns: {
            rightColumns: 1
          },
          columns: [
            {
              data: null,
              width: "8px",
              render : function (data, type, row, meta) {
                return meta.row + 1;
              }
            },
            { data: "name",
              width: "80px"
            },
            { data: "demander",
              width: "80px"
            },
            { data: "address",
              width: "80px"
            },
            { data: "code",
              width: "100px"
            },
            { data: "codeSpecial",
              width: "100px"
            },
            { data: "num",
              width: "30px"
            },
            { data: "firstStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "secondStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },

            { data: "thirdStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "comment",
              width: "100px",
              render : function(data, type, row, meta) {
                if (data.length > 10) {
                  return '<span title="' + data + '">' + data.substr(0, 10) + '...</span>';
                }
                return data;
              }
            },
            { data: "id",
              "width": "40px",
              render : function(data, type, row, meta) {
                return '<a target="_blank" style="margin-right: 5px" class="btn btn-info btn-xs many-view" href="' + ctx + '/single/' + data + '">查看</a>';
              }
            }
          ],
          createdRow: function (row, data, index) {
            $('td',row).css("border-top", '1px solid black');
            if (data.projectStatus === 0) {
              $(row).css('background', '#FF0000');
            }
          }
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            statusQuery : $("#statusQuery").val(),
            yearQuery : $("#yearQuery").val()
          });
        });
      });

    </script>
</body>
</html>
