<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        角色列表
        <small>RoleList</small>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">

              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>角色名</label>
                    <input type="text" id="roleName" name="roleName" class="form-control" placeholder="请输入角色名">
                  </div>
                  <button class="btn btn-default" id="btn_search">搜索</button>
                  <a shiro:hasPermission="role:create" th:href="@{/sys/role/create}" class="btn btn-info pull-right" id="btn_add">添加</a>
                </div>
              </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">

              <table id="roleDataTables" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>角色名</th>
                  <th>拥有权限</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var roleTable;
      /** 刷新列表 */
      function reloadTable() {
        roleTable.destroy();
        getRoleList();
      }

      /** 加载列表 */
      function getRoleList() {

        roleTable = $('#roleDataTables').DataTable( {
          "info": true,
          "ordering": false,
          "autoWidth": true,
          "lengthChange": false,  //每页显示的记录数
          "pageLength": 10,
          "dom": "Tft<'row DTTTFooter'<'col-sm-6'li><'col-sm-6'p>>",
          "searching":false,//禁用搜索
          "processing": true,
          "serverSide": true,
          "ajax": {
            url : "/sys/role/list",
            type : "POST",
            data : {
              "roleName": $("#roleName").val()
            },
            dataSrc : function (json) {
              if (json.status === 200) {
                json.draw = json.content.draw;
                json.recordsTotal = json.content.recordsTotal;
                json.recordsFiltered = json.content.recordsFiltered;
                json.data = json.content.data;
              }
              return json.data;
            }
          },
          "columns": [
            { "data": "id",
              // "width": "8%"
            },
            { "data": "roleName",
              // "width": "10%"
            },
            { "data": "permissions",
              render : function(data, type, row, meta) {
                var html = '';
                $.each(data,function (i, v) {
                  html += '<span style="margin-left: 5px">' + v.description + '</span>';
                  if (i === 4) {
                    html += ' 等...';
                    return false;
                  }
                });
                return html;
              }
              // "width": "10%"
            },
            { "data": "id",
              // "width": "5%",
              render : function(data, type, row, meta) {
                return '<a style="margin-right: 5px" class="btn btn-warning btn-xs role-edit" href="/sys/role/edit/'+data+'" >编辑</a>' +
                    '<a class="btn btn-danger btn-xs role-delete" href="javascript:void(0)" onclick="updateStatus('+data+', 0)" >删除</a>';
              }
            }
          ],
          "language" : { // 国际化配置
            "sProcessing" : "正在获取数据，请稍后...",
            "sLengthMenu" : "显示 _MENU_ 条",
            "sZeroRecords" : "没有找到数据",
            "info" : "从 _START_ 到  _END_ 条记录 总记录数为 _TOTAL_ 条",
            "infoEmpty" : "记录数为0",
            "infoFiltered" : "(全部记录数 _MAX_ 条)",
            "paginate" : {
              "first" : "第一页",
              "previous" : "上一页",
              "next" : "下一页",
              "last" : "最后一页"
            }
          }
        });
      }

      function updateStatus(id,status) {
        bootbox.setLocale("zh_CN");
        bootbox.confirm("确定删除这个角色吗?", function (result) {
          if (result) {
            $.ajax({
              url: "/sys/role/status",
              type:"POST",
              data: {"id": id,"status":status},
              success: function(result){
                if (result.status === 200) {
                  toastr.success("删除成功！");
                  //重新加载数据
                  roleTable.ajax.reload();
                } else {
                  toastr.error("删除失败！");
                }
              },
              error: function() {
                toastr.error("删除失败！");
              }
            });
          }
        });
        event.stopPropagation();
      }

      /** 搜索按钮事件 */
      function searchEvent() {
        $("#btn_search").click(function () {
          reloadTable();
        });
      }

      function setPermission() {
        roleTable.on( 'draw.dt', function () {
          var roles = [[${session.roles}]];
          var permissions = [[${session.permissions}]];
          if ($.inArray('role:edit', permissions) === -1) {
            $(".role-edit").hide();
          }
          if ($.inArray('role:delete', permissions) === -1) {
            $(".role-delete").hide();
          }
        } );
      }

      $(function () {

        getRoleList();

        searchEvent();

        setPermission();

      });

    </script>
</body>
</html>
