<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        员工列表
      </h1>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>姓名</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入姓名">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>编号</label>
                    <input type="text" id="codeQuery" name="codeQuery" class="form-control" placeholder="请输入编号">
                  </div>
                  <input type="hidden" id="deptId">
                  <button class="btn btn-default" id="btn_search">搜索</button>
                  <a shiro:hasPermission="emp:create" th:href="@{/sys/emp/create}" class="btn btn-info pull-right" >添加</a>
                </div>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="margin-top: 50px">
              <div class="col-md-5">
                <div id="deptTree" class="ztree"></div>
              </div>
              <div class="col-md-7">
                <table id="empTable" class="table table-bordered table-hover" width="100%">
                  <thead>
                  <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>编号</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      // 删除员工
      function updateStatus(id) {
        $.modal.confirm("确定删除这个员工吗?",function () {
          $.operate.post(ctx + "sys/emp/status", {"id": id}, function () {
            $.table.refresh();
          })
        });
      }

      $(function () {
        // 初始化tree
        $.tree.init({
          id: "deptTree",
          url: ctx + "sys/dept/all",
          name: "deptName",
          check: "no",
          click: function (treeNode) {
            var deptId = $("#deptId");
            if (treeNode.id == deptId.val()) {
              deptId.val('');
              $.tree.cancelSelect(treeNode);
            } else {
              deptId.val(treeNode.id);
            }
            $("#btn_search").trigger('click');
          }
        });
        // 加载表格
        $.table.init({
          id: "empTable",
          info: true,
          url: ctx + "sys/emp/list",
          pageLength: 15,
          columns: [
            {
              data: null,
              render : function (data, type, row, meta) {
                return meta.row + 1;
              }
            },
            { data: "name"},
            { data: "code"},
            { data: "id",
              render : function(data, type, row, meta) {
                var html = [];
                html.push('<a class="btn btn-warning btn-xs emp-edit" href="' + ctx + 'sys/emp/edit/' + data + '">修改</a>');
                html.push('<a class="btn btn-danger btn-xs emp-del" style="margin-left: 5px" href="javascript:void(0);" onclick="updateStatus(' + data + ')">删除</a>');
                return html.join('');
              }
            }
          ],
          drawCallback: function () {
            if ($.inArray('*:*:*', permissions) === 0) {
              return;
            }
            if ($.inArray('emp:edit', permissions) === -1) {
              $(".emp-edit").remove();
            }
            if ($.inArray('emp:del', permissions) === -1) {
              $(".emp-del").remove();
            }
          }
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            nameQuery: $("#nameQuery").val(),
            codeQuery: $("#codeQuery").val(),
            deptId: $("#deptId").val()
          });
        });
      });
    </script>
</body>
</html>
