<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
  <h1>
    项目统计
  </h1>
</section>
<section class="content">
  <div class="row">
    <!--<div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-red">
        <div class="inner">
          <h4><b>设计看板统计</b></h4>
          <p>下达任务：<span>1245</span></p>
          <p>完成：<span>291</span></p>
          <p>未完成：<span>722</span></p>
          <p>取消：<span>93</span></p>
          <p>待验收：<span>16</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-yellow">
        <div class="inner">
          <h4><b>工艺看板统计</b></h4>
          <p>下达任务：<span>1170</span></p>
          <p>完成：<span>678</span></p>
          <p>未完成：<span>86</span></p>
          <p>取消：<span>93</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-aqua">
        <div class="inner">
          <h4><b>生产看板统计</b></h4>
          <p>下达任务：<span>1170</span></p>
          <p>完成：<span>454</span></p>
          <p>未完成：<span>609</span></p>
          <p>取消：<span>93</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>-->
    <div class="col-md-3 col-sm-6 col-xs-12">

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">总项目统计</span>
          <span class="info-box-number">1245</span>
          <div class="progress">
            <div class="progress-bar" style="width: 8%"></div>
          </div>
          <span class="progress-description">完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></span>
        </div>
      </div>

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a><</span>
          <span class="info-box-number">577</span>
          <div class="progress">
            <div class="progress-bar" style="width: 10%"></div>
          </div>
          <span class="progress-description">完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></span>
        </div>
      </div>

      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span class="info-box-number">97</span>
          <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
          </div>
          <span class="progress-description">完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></span>
        </div>
      </div>

    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">设计项目统计</span>
          <span class="info-box-number">1245</span>
          <div class="progress">
            <div class="progress-bar" style="width: 8%"></div>
          </div>
          <span class="progress-description">完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></span>
        </div>
      </div>

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年设计项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a><</span>
          <span class="info-box-number">577</span>
          <div class="progress">
            <div class="progress-bar" style="width: 10%"></div>
          </div>
          <span class="progress-description">完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></span>
        </div>
      </div>

      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月设计项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span class="info-box-number">97</span>
          <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
          </div>
          <span class="progress-description">完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">工艺项目统计</span>
          <span class="info-box-number">1245</span>
          <div class="progress">
            <div class="progress-bar" style="width: 8%"></div>
          </div>
          <span class="progress-description">完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></span>
        </div>
      </div>

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年工艺项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a><</span>
          <span class="info-box-number">577</span>
          <div class="progress">
            <div class="progress-bar" style="width: 10%"></div>
          </div>
          <span class="progress-description">完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></span>
        </div>
      </div>

      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月工艺项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span class="info-box-number">97</span>
          <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
          </div>
          <span class="progress-description">完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></span>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">生产项目统计</span>
          <span class="info-box-number">1245</span>
          <div class="progress">
            <div class="progress-bar" style="width: 8%"></div>
          </div>
          <span class="progress-description">完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></span>
        </div>
      </div>

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年生产项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a><</span>
          <span class="info-box-number">577</span>
          <div class="progress">
            <div class="progress-bar" style="width: 10%"></div>
          </div>
          <span class="progress-description">完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></span>
        </div>
      </div>

      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-bookmark-o"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月生产项目统计</b>&nbsp;&nbsp;<a href="" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span class="info-box-number">97</span>
          <div class="progress">
            <div class="progress-bar" style="width: 0%"></div>
          </div>
          <span class="progress-description">完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <canvas id="barChart" height="450"></canvas>
    </div>
  </div>
</section>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

  var ctx = ctx + "overview/statistical";

  var barChartData = {
    labels  : ['机械设计一科', '机械设计二科', '机械设计三科', '机械设计四科', '机械设计五科', '机械设计六科', '机械设计七科', '机械设计八科'
      , '液压设计一科', '液压设计二科', '电气设计一科', '电气设计二科', '电气设计三科', '软件设计科'],
    datasets: [{
      label: '执行中',
      backgroundColor: '#f39c12',
      data: [
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1)
      ]
    }, {
      label: '未开始',
      backgroundColor: '#d2d6de',
      data: [
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1),
        parseInt(Math.random() * 100 + 1)
      ]
    }]
  };

  $(function () {
    var ctx = document.getElementById('barChart').getContext('2d');
    window.myBar = new Chart(ctx, {
      type: 'bar',
      data: barChartData,
      options: {
        title: {
          display: true,
          fontSize: 20,
          text: '设计科室执行项目总览'
        },
        legend: {
          display: true,
          position: 'right',
          labels: {
            fontSize: 18
          }
        },
        tooltips: {
          mode: 'index',
          intersect: false
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    });
  });



</script>
</body>
</html>
