<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<section class="content-header">
  <h1>
    项目统计
  </h1>
</section>
<section class="content">
  <div class="row">
    <!--<div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-red">
        <div class="inner">
          <h4><b>设计看板统计</b></h4>
          <p>下达任务：<span>1245</span></p>
          <p>完成：<span>291</span></p>
          <p>未完成：<span>722</span></p>
          <p>取消：<span>93</span></p>
          <p>待验收：<span>16</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-yellow">
        <div class="inner">
          <h4><b>工艺看板统计</b></h4>
          <p>下达任务：<span>1170</span></p>
          <p>完成：<span>678</span></p>
          <p>未完成：<span>86</span></p>
          <p>取消：<span>93</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>
    <div class="col-lg-3 col-xs-6">
      <div class="small-box bg-green">
        <div class="inner">
          <h4><b>总项目统计</b></h4>
          <p>立项：<span>1245</span>&nbsp;完成：<span>86</span>&nbsp;未完成：<span>1052</span>&nbsp;取消：<span>93</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-yellow">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>2018年项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>577</span>&nbsp;完成：<span>16</span>&nbsp;未完成：<span>527</span>&nbsp;取消：<span>33</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      <div class="small-box bg-aqua">
        <div class="inner">
          <h4><a href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b>12月项目统计</b>&nbsp;&nbsp;<a href="#" style="color: #FFF" class="fa fa-arrow-right"></a></h4>
          <p>立项：<span>97</span>&nbsp;完成：<span>0</span>&nbsp;未完成：<span>92</span>&nbsp;取消：<span>5</span></p>
        </div>
        &lt;!&ndash;<a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>&ndash;&gt;
      </div>
      &lt;!&ndash;<div class="small-box bg-aqua">
        <div class="inner">
          <h4><b>生产看板统计</b></h4>
          <p>下达任务：<span>1170</span></p>
          <p>完成：<span>454</span></p>
          <p>未完成：<span>609</span></p>
          <p>取消：<span>93</span></p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p style="margin-bottom: 13px">&nbsp;</p>
        </div>
        <a href="#" class="small-box-footer">
          More info <i class="fa fa-arrow-circle-right"></i>
        </a>
      </div>&ndash;&gt;
    </div>-->
    <div class="col-md-3 col-sm-6 col-xs-12">

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-clipboard"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><b>总项目统计</b></span>
          <span class="info-box-number">未完成：<span th:text="${unFinishedProjectCount}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span th:text="${projectCount}">86</span>&nbsp;完成：<span th:text="${finishedProjectCount}">1052</span>&nbsp;取消：<span th:text="${cancelProjectCount}">93</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-clipboard"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a id="project-year-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b><span id="project-year" class="year" th:text="${year}"></span>年项目统计</b>&nbsp;&nbsp;<a id="project-year-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span id="project-year-title" class="info-box-number" th:title="${finishedProjectGroupByYear}">完成：<span id="project-year-finished" th:text="${finishedProjectCountByYear}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="project-year-total" th:text="${projectCountByYear}">16</span>&nbsp;未完成：<span id="project-year-unfinished" th:text="${unFinishedProjectCountByYear}">527</span>&nbsp;取消：<span id="project-year-cancel" th:text="${cancelProjectCountByYear}">33</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-clipboard"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><a id="project-month-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;<b><span id="project-month" class="month" th:text="${month}"></span>月项目统计</b>&nbsp;&nbsp;<a id="project-month-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a></span>
          <span class="info-box-number">完成：<span id="project-month-finished" th:text="${finishedProjectCountByMonth}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="project-month-total" th:text="${projectCountByMonth}">16</span>&nbsp;未完成：<span id="project-month-unfinished" th:text="${unFinishedProjectCountByMonth}">527</span>&nbsp;取消：<span id="project-month-cancel" th:text="${cancelProjectCountByMonth}">33</span></span>
        </div>
      </div>

    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-pencil"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><b>设计项目统计</b></span>
          <span class="info-box-number">未完成：<span th:text="${unFinishedDesignCount}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span th:text="${projectCount}">86</span>&nbsp;完成：<span th:text="${finishedDesignCount}">1052</span>&nbsp;取消：<span th:text="${cancelProjectCount}">93</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-pencil"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="design-year-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="design-year" class="year" th:text="${year}"></span>年设计项目统计</b><!--&nbsp;&nbsp;<a id="design-year-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span id="design-year-title" class="info-box-number" th:title="${finishedDesignProjectGroupByYear}">完成：<span id="design-year-finished" th:text="${finishedDesignCountByYear}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="design-year-total" th:text="${projectCountByYear}">16</span>&nbsp;未完成：<span id="design-year-unfinished" th:text="${unFinishedDesignCountByYear}">527</span>&nbsp;取消：<span id="design-year-cancel" th:text="${cancelProjectCountByYear}">33</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-pencil"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="design-month-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="design-month" class="month" th:text="${month}"></span>月设计项目统计</b><!--&nbsp;&nbsp;<a id="design-month-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span class="info-box-number">完成：<span id="design-month-finished" th:text="${finishedDesignCountByMonth}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="design-month-total" th:text="${projectCountByMonth}">16</span>&nbsp;未完成：<span id="design-month-unfinished" th:text="${unFinishedDesignCountByMonth}">527</span>&nbsp;取消：<span id="design-month-cancel" th:text="${cancelProjectCountByMonth}">33</span></span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><b>工艺项目统计</b></span>
          <span class="info-box-number">未完成：<span th:text="${unFinishedProcessCount}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span th:text="${projectCount}">86</span>&nbsp;完成：<span th:text="${finishedProcessCount}">1052</span>&nbsp;取消：<span th:text="${cancelProjectCount}">93</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="process-year-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="process-year" class="year" th:text="${year}"></span>年工艺项目统计</b><!--&nbsp;&nbsp;<a id="process-year-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span id="process-year-title" class="info-box-number" th:title="${finishedProcessProjectGroupByYear}">完成：<span id="process-year-finished" th:text="${finishedProcessCountByYear}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="process-year-total" th:text="${projectCountByYear}">16</span>&nbsp;未完成：<span id="process-year-unfinished" th:text="${unFinishedProcessCountByYear}">527</span>&nbsp;取消：<span id="process-year-cancel" th:text="${cancelProjectCountByYear}">33</span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-calendar"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="process-month-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="process-month" class="month" th:text="${month}"></span>月工艺项目统计</b><!--&nbsp;&nbsp;<a id="process-month-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span class="info-box-number">完成：<span id="process-month-finished" th:text="${finishedProcessCountByMonth}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="process-month-total" th:text="${projectCountByMonth}"></span>&nbsp;未完成：<span id="process-month-unfinished" th:text="${unFinishedProcessCountByMonth}"></span>&nbsp;取消：<span id="process-month-cancel" th:text="${cancelProjectCountByMonth}">33</span></span>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      <div class="info-box bg-yellow">
        <span class="info-box-icon"><i class="fa fa-truck"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><b>生产项目统计</b></span>
          <span class="info-box-number">未完成：<span th:text="${unFinishedProduceCount}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span th:text="${projectCount}"></span>&nbsp;完成：<span th:text="${finishedProduceCount}"></span>&nbsp;取消：<span th:text="${cancelProjectCount}"></span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-truck"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="produce-year-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="produce-year" class="year" th:text="${year}"></span>年生产项目统计</b><!--&nbsp;&nbsp;<a id="produce-year-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span id="produce-year-title" class="info-box-number" th:title="${finishedProduceProjectGroupByYear}">完成：<span id="produce-year-finished" th:text="${finishedProduceCountByYear}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="produce-year-total" th:text="${projectCountByYear}"></span>&nbsp;未完成：<span id="produce-year-unfinished" th:text="${unFinishedProduceCountByYear}"></span>&nbsp;取消：<span id="produce-year-cancel" th:text="${cancelProjectCountByYear}"></span></span>
        </div>
      </div>

      <div class="info-box bg-green">
        <span class="info-box-icon"><i class="fa fa-truck"></i></span>
        <div class="info-box-content">
          <span class="info-box-text"><!--<a id="produce-month-pre" href="#" class="fa fa-arrow-left" style="color: #FFF"></a>&nbsp;&nbsp;--><b><span id="produce-month" class="month" th:text="${month}"></span>月生产项目统计</b><!--&nbsp;&nbsp;<a id="produce-month-next" href="#" style="color: #FFF" class="fa fa-arrow-right"></a>--></span>
          <span class="info-box-number">完成：<span id="produce-month-finished" th:text="${finishedProduceCountByMonth}"></span></span>
          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
          <span class="progress-description">总数：<span id="produce-month-total" th:text="${projectCountByMonth}"></span>&nbsp;未完成：<span id="produce-month-unfinished" th:text="${unFinishedProduceCountByMonth}"></span>&nbsp;取消：<span id="produce-month-cancel" th:text="${cancelProjectCountByMonth}">33</span></span>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <canvas id="barChart" height="450"></canvas>
    </div>
  </div>
</section>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

  var context = ctx + "overview/statistical";

  var barChartData = {
    labels  : ['机械设计一科', '机械设计二科', '机械设计三科', '机械设计四科', '机械设计五科', '机械设计六科', '机械设计七科', '机械设计八科'
      , '液压设计一科', '液压设计二科', '电气设计一科', '电气设计二科', '电气设计三科', '软件设计科'],
    datasets: [{
      label: '执行中',
      backgroundColor: '#f39c12',
      data: [[${sectionExecutingProjectCount}]]
    }, {
      label: '未开始',
      backgroundColor: '#d2d6de',
      data: [[${sectionNotStartedProjectCount}]]
    }]
  };

  var statistical = {
    updateProjectYear: function (data, year) {
      $("#project-year-total").text(data.content.totalCount);
      $("#project-year-cancel").text(data.content.cancelCount);
      $("#project-year-finished").text(data.content.finishedCount);
      $("#project-year-unfinished").text(data.content.unFinishedCount);
      $("#project-year-title").attr('title', data.content.groupCount);
      $("#project-year").text(year);
    },
    updateProjectMonth: function (data, month) {
      $("#project-month-total").text(data.content.totalCount);
      $("#project-month-cancel").text(data.content.cancelCount);
      $("#project-month-finished").text(data.content.finishedCount);
      $("#project-month-unfinished").text(data.content.unFinishedCount);
      $("#project-month").text(month);
    },
    updateDesignYear: function (data, year) {
      $("#design-year-total").text(data.content.totalCount);
      $("#design-year-cancel").text(data.content.cancelCount);
      $("#design-year-finished").text(data.content.finishedCount);
      $("#design-year-unfinished").text(data.content.unFinishedCount);
      $("#design-year-title").attr('title', data.content.groupCount);
      $("#design-year").text(year);
    },
    updateDesignMonth: function (data, month) {
      $("#design-month-total").text(data.content.totalCount);
      $("#design-month-cancel").text(data.content.cancelCount);
      $("#design-month-finished").text(data.content.finishedCount);
      $("#design-month-unfinished").text(data.content.unFinishedCount);
      $("#design-month").text(month);
    },
    updateProcessYear: function (data, year) {
      $("#process-year-total").text(data.content.totalCount);
      $("#process-year-cancel").text(data.content.cancelCount);
      $("#process-year-finished").text(data.content.finishedCount);
      $("#process-year-unfinished").text(data.content.unFinishedCount);
      $("#process-year-title").attr('title', data.content.groupCount);
      $("#process-year").text(year);
    },
    updateProcessMonth: function (data, month) {
      $("#process-month-total").text(data.content.totalCount);
      $("#process-month-cancel").text(data.content.cancelCount);
      $("#process-month-finished").text(data.content.finishedCount);
      $("#process-month-unfinished").text(data.content.unFinishedCount);
      $("#process-month").text(month);
    },
    updateProduceYear: function (data, year) {
      $("#produce-year-total").text(data.content.totalCount);
      $("#produce-year-cancel").text(data.content.cancelCount);
      $("#produce-year-finished").text(data.content.finishedCount);
      $("#produce-year-unfinished").text(data.content.unFinishedCount);
      $("#produce-year-title").attr('title', data.content.groupCount);
      $("#produce-year").text(year);
    },
    updateProduceMonth: function (data, month) {
      $("#produce-month-total").text(data.content.totalCount);
      $("#produce-month-cancel").text(data.content.cancelCount);
      $("#produce-month-finished").text(data.content.finishedCount);
      $("#produce-month-unfinished").text(data.content.unFinishedCount);
      $("#produce-month").text(month);
    },
    update: function (year, month) {
      $.operate.get(context + "/year/project", {year: year}, function (data) {
        statistical.updateProjectYear(data, year);
      });
      $.operate.get(context + "/year/design", {year: year}, function (data) {
        statistical.updateDesignYear(data, year);
      });
      $.operate.get(context + "/year/process", {year: year}, function (data) {
        statistical.updateProcessYear(data, year);
      });
      $.operate.get(context + "/year/produce", {year: year}, function (data) {
        statistical.updateProduceYear(data, year);
      });
      statistical.updateMonth(month);
    },
    updateMonth: function (month) {
      $.operate.get(context + "/month/project", {month: month}, function (data) {
        statistical.updateProjectMonth(data, month);
      });
      $.operate.get(context + "/month/design", {month: month}, function (data) {
        statistical.updateDesignMonth(data, month);
      });
      $.operate.get(context + "/month/process", {month: month}, function (data) {
        statistical.updateProcessMonth(data, month);
      });
      $.operate.get(context + "/month/produce", {month: month}, function (data) {
        statistical.updateProduceMonth(data, month);
      });
    }
  };


  $(function () {

    // 项目箭头
    /*$("#project-year-pre").click(function () {
      var year = parseInt($("#project-year").text());
      if (year > 2016) {
        year -= 1;
      }
      var month = parseInt($("#project-month").text());
      statistical.update(year, month);
    });

    $("#project-year-next").click(function () {
      var year = parseInt($("#project-year").text());
      var month = parseInt($("#project-month").text());
      if (year < new Date().getFullYear()) {
        year += 1;
        if (month > new Date().getMonth() + 1) {
          month = new Date().getMonth() + 1;
        }
      }
      statistical.update(year, month);
    });

    $("#project-month-pre").click(function () {
      var month = parseInt($("#project-month").text());
      if (month === 1) {
        var year = parseInt($("#project-year").text());
        if (year !== 2016) {
          statistical.update(year - 1, 12);
        }
      } else {
        statistical.updateMonth(month - 1);
      }
    });

    $("#project-month-next").click(function () {
      var month = parseInt($("#project-month").text());
      var year = parseInt($("#project-year").text());
      if (month === new Date().getMonth() + 1 && year === new Date().getFullYear()) {
        return;
      }
      if (month === 12) {
        if (year !== new Date().getFullYear()) {
          statistical.update(year + 1, 1);
        }
      } else {
        statistical.updateMonth(month + 1);
      }
    });*/

    // 设计箭头
    /*$("#design-year-pre").click();

    $("#design-year-next").click();

    $("#design-month-pre").click();

    $("#design-month-next").click();

    // 工艺箭头
    $("#process-year-pre").click();

    $("#process-year-next").click();

    $("#process-month-pre").click();

    $("#process-month-next").click();

    // 生产箭头
    $("#produce-year-pre").click();

    $("#produce-year-next").click();

    $("#produce-month-pre").click();

    $("#produce-month-next").click();*/

    var ctx = document.getElementById('barChart').getContext('2d');
    window.myBar = new Chart(ctx, {
      type: 'bar',
      data: barChartData,
      options: {
        title: {
          display: true,
          fontSize: 20,
          text: '设计科室当前项目总览'
        },
        legend: {
          display: true,
          position: 'right',
          labels: {
            fontSize: 18
          }
        },
        tooltips: {
          mode: 'index',
          intersect: false
        },
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        },
        hover: {
          animationDuration: 0  // 防止鼠标移上去，数字闪烁
        },
        animation: {           // 这部分是数值显示的功能实现
          onComplete: function () {
            var chartInstance = this.chart,
            ctx = chartInstance.ctx;
            // 以下属于canvas的属性（font、fillStyle、textAlign...）
            ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontSize, Chart.defaults.global.defaultFontStyle, Chart.defaults.global.defaultFontFamily);
            ctx.fillStyle = "black";
            ctx.textAlign = 'center';
            ctx.textBaseline = 'bottom';
            var total = [];
            this.data.datasets.forEach(function (dataset, i) {
              var meta = chartInstance.controller.getDatasetMeta(i);
              meta.data.forEach(function (bar, index) {
                if (dataset.label === '未开始') {
                  var n = total[index] + dataset.data[index];
                  ctx.fillText(n, bar._model.x, bar._model.y - 5);
                } else {
                  total.push(dataset.data[index]);
                }
              });
            });
          }
        }
      }
    });
  });



</script>
</body>
</html>
