<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        项目人工统计
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">



              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目号</label>
                    <input type="text" id="codeQuery" name="codeQuery" class="form-control" placeholder="请输入项目号">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目名</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入项目名">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>设计科室</label>
                    <select id="sectionQuery" name="sectionQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                      <option th:each="section:${sections}" th:value="${section.name}" th:text="${section.name}"></option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>任务类型</label>
                    <select id="typeQuery" name="typeQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                      <option th:each="type:${taskType}" th:selected="${type.id == 2}" th:value="${type.name}" th:text="${type.name}"></option>
                    </select>
                  </div>


                </div>
              </div>
              <div class="row" id="queryHiddenDiv" style="margin-top: 10px">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>时间</label>
                    <input type="text" class="form-control datepicker" id="startTimeQuery" readonly="readonly" />
                    <span>至</span>
                    <input type="text" class="form-control datepicker" id="endTimeQuery" readonly="readonly" />
                  </div>
                  <button class="btn btn-vk" id="btn_search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <table id="employeeTable" class="table table-bordered table-hover" width="100%">
                    <thead>
                    <tr>
                      <th>项目号</th>
                      <th>项目名称</th>
                      <th>员工</th>
                      <th>历时（天）</th>
                      <th>任务类型</th>
                      <th>参与任务</th>
                    </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="goToTop" th:style="|position:fixed; right:0px; bottom:10px; width:20px; height:75px; background-image: url(@{/img/gototop.gif}); cursor:pointer|"></div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var temp;

      // 合并单元格
      function merge(rowSpanTr, currentRow, rowSpan, arr) {
        $.each(arr, function (index, value) {
          $('td', rowSpanTr).eq(value).attr("rowSpan", rowSpan);
          $('td', currentRow).eq(value).hide();
        })
      }

      $(function () {
        // 加载项目表格
        $.table.init({
          buttons: [
            {
              extend: 'excel',
              text: '导出Excel',
              className: 'btn btn-success pull-right',
              filename: '设计进度看板',
              exportOptions: {
                columns: [ 0,1,2,3,4,5]
              }
            }
          ],
          id: "employeeTable",
          url: ctx + "integrate/work/list",
          fixedHeader: true,
          scrollX: true,
          dom: "Tf<'row'<'col-sm-5 col-sm-offset-6'p><'col-sm-1'B>>t<'row DTTTFooter'<'col-sm-6'i><'col-sm-5'p><'col-sm-1'B>>",
          data : {
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            sectionQuery : $("#sectionQuery").val(),
            typeQuery : $("#typeQuery").val(),
            startTimeQuery: $("#startTimeQuery").val(),
            endTimeQuery: $("#endTimeQuery").val(),
          },
          columns: [
            { data: "code", width: "120px"},
            { data: "name"},
            { data: "empName", width: "80px"},
            { data: "duration", width: "80px"},
            { data: "typeName", width: "90px"},
            { data: "alias", width: "500"}
          ],
          pageCallBack: function () {
            temp = null;
          },
          createdRow: function (row, data, index) {
            if (temp != null && data.code === $('td', temp).eq(0).html()) {
              var rowSpan = $('td', temp).eq(0).attr("rowSpan");
              if (rowSpan === undefined) {
                $('td', temp).eq(0).attr("rowSpan", 1);
                rowSpan = $('td', temp).eq(0).attr("rowSpan");
              }
              rowSpan = Number(rowSpan) + 1;
              merge(temp, row, rowSpan, [0, 1]);
            } else {
              temp = row;
              $('td', row).css("border-top", '1px solid black');
            }
          }
        });

        // 搜索
        $("#btn_search").click(function () {
          temp = null;
          $.table.search({
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            sectionQuery : $("#sectionQuery").val(),
            typeQuery : $("#typeQuery").val(),
            startTimeQuery: $("#startTimeQuery").val(),
            endTimeQuery: $("#endTimeQuery").val(),
          });
        });
      });

    </script>
</body>
</html>
