/* dataTables列内容居中 */
.table>tbody>tr>td{
  vertical-align: middle;
  text-align:center;
}

/* dataTables表头居中 */
.table>thead:first-child>tr:first-child>th{
  vertical-align: middle;
  text-align:center;
}

td.details-control {
  background: url('/static/img/details_close.png') no-repeat;
  cursor: pointer;
}
tr.shown td.details-control {
  background: url('/static/img/details_close.png') no-repeat;
}

.center-info {
  text-align: left;
}

.title-alert {
  color: red;
}

.delete-status {
  background: red;
  color: white;
}

.execute-status {
  background: #f39c12;
  color: white;
}

.success-status {
  background: #00a65a;
  color: white;
}

.page-fixed {
  position: fixed;
  bottom: 0;
}

