<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini" style="background-image: url('/img/splash.jpg');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">

<h1 class="text-center" style='margin-top: 300px;color: black;font-size: 64px'>忠旺集团</h1>
<h1 class="text-center" style='color: black;font-size: 48px'>机械设备制造有限公司看板系统</h1>
<!-- Main content -->
<!--<section class="content">
  <div class="error-page" style="margin-top: 300px">
    &lt;!&ndash;<h2 class="headline text-yellow"> 欢迎使用</h2>&ndash;&gt;

    <div class="error-content">
      &lt;!&ndash;<h3>&lt;!&ndash;<i class="fa fa-warning text-yellow"></i>&ndash;&gt; 欢迎使用忠旺集团机械设备制造有限公司看板系统</h3>&ndash;&gt;

      &lt;!&ndash;<p>
        您没有权限访问此页面，请联系管理员解决这个问题。
      </p>&ndash;&gt;
    </div>
    &lt;!&ndash; /.error-content &ndash;&gt;
  </div>
  &lt;!&ndash; /.error-page &ndash;&gt;
</section>-->

</body>
</html>
