<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Bootstrap 附加导航（Affix）插件</title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <style>
    /* Custom Styles */
    ul.nav-tabs{
      width: 140px;
      margin-top: 20px;
      border-radius: 4px;
      border: 1px solid #ddd;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs li{
      margin: 0;
      border-top: 1px solid #ddd;
    }
    ul.nav-tabs li:first-child{
      border-top: none;
    }
    ul.nav-tabs li a{
      margin: 0;
      padding: 8px 16px;
      border-radius: 0;
    }
    ul.nav-tabs li.active a, ul.nav-tabs li.active a:hover{
      color: #fff;
      background: #0088cc;
      border: 1px solid #0088cc;
    }
    ul.nav-tabs li:first-child a{
      border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs li:last-child a{
      border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs.affix{
      top: 0px; /* Set the top position of pinned element */
    }
    p{
      text-indent:2em;
    }
  </style>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
<div class="container">
  <!--<div class="jumbotron">
    <h1>项目使用说明文档</h1>
  </div>-->
  <div class="row">
    <div class="col-xs-3" id="myScrollspy">
      <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="0">
        <li class="active"><a href="#section-1">通用功能</a></li>
        <li class="active"><a href="#section-2">项目统计</a></li>
        <li><a href="#section-3">公司战略纲领</a></li>
        <li><a href="#section-4">下达设计任务</a></li>
        <li><a href="#section-5">多项目看板</a></li>
        <li><a href="#section-6">单项目看板</a></li>
        <li><a href="#section-7">设计进度看板</a></li>
        <li><a href="#section-8">工艺进度看板</a></li>
        <li><a href="#section-9">生产进度看板</a></li>
        <li><a href="#section-10">项目人工统计</a></li>
        <li><a href="#section-11">员工业绩查询</a></li>
        <li><a href="#section-12">互动专区</a></li>
        <li><a href="#section-13">项目文件查询</a></li>
      </ul>
    </div>
    <div class="col-xs-9">
      <h2 id="section-1">通用功能</h2>
      <h4>功能描述</h4>
      <p>登入系统后默认显示项目统计报表画面。系统右上角为公共功能，如下：</p>
      <img src="/img/help/common1.png" width="100%">
      <h4>消息提醒</h4>
      <p>如果您有未读信息，右上角的信封图标会显示未读信息具体条数。点击信封图标即可查看未读信息的具体内容。</p>
      <h4>头像上传</h4>
      <p>点击右上角用户名，可以选择修改您的系统头像。</p>
      <h4>修改密码</h4>
      <p>点击右上角修改密码功能，可以修改登录密码。</p>
      <h4>帮助文档</h4>
      <p>点击右上角帮助图标，显示系统操作帮助文档。</p>
      <h4>退出系统</h4>
      <p>点击右上角退出按钮或者直接关闭浏览器，均可退出该系统。</p>
      <h2 id="section-2">项目统计</h2>
      <p>上半部分为项目统计，包括总项目的统计，设计项目统计，工艺项目统计和生产项目统计。每类统计还包含按年份统计和当前月份统计，默认显示当前的年份和月份统计数据，通过点击“箭头”可改变统计年份和月份。</p>
      <p>上半部第一行总项目统计、设计项目统计、工艺项目统计、生产项目统计所统计的数据范围为整个看板系统所有有效的项目。</p>
      <p>上半部第二行中‘XXXX年项目统计’栏目中‘完成’数代表整个项目周期（整项目周期包含：技术协议、合同、设计、工艺、制造及安装、调试运行、验收、图纸存档）最后一项完成时间落在XXXX年内的项目总数量(注：XXXX年项目完成统计与项目所创建的年度不发生,只单纯统计项目最终完成时间落在XXXX年的项目数量)。</p>
      <p>‘总数’指XXXX年创建项目总数。</p>
      <p>‘未完成’指XXXX年创建的项目未完成数量。</p>
      <p>‘取消’指XXXX年取消的项目数量。</p>
      <p>‘XXXX年设计项目统计’栏目中‘完成’数代表项目设计周期（设计周期包含：设计、条件相关、采购计划、下图纸）最后一项完成时间落在XXXX年内的项目总数量。</p>
      <p>‘XXXX年工艺项目统计’栏目中‘完成’数代表工艺任务（工艺任务包含：原材料外协计划、工艺编制、外购计划）最后一项完成时间落在XXXX年内的项目总数量。</p>
      <p>‘XXXX年生产项目统计’栏目中‘完成’数代表生产任务（生产任务包含：铆焊制作、机加外协装配、基础条件、现场安装）最后一项完成时间落在XXXX年内的项目总数量。</p>
      <p>当鼠标放在完成数量上时会自动显示完成项目所创建的年份，如下图：</p>
      <img src="/img/help/statistical0.png" width="50%">
      <p>上半部第三行中‘X月项目统计’所代表的含义与‘XXXX年项目统计’类似，请参考，这里不再赘述。</p>
      <p>下半部分为设计科室还需要执行的项目数统计，黄色表示执行中的项目，灰色表示还未开始的项目。</p>
      <img src="/img/help/statistical1.png" width="100%">
      <hr>
      <h2 id="section-3">公司战略纲领</h2>
      <p>该功能主要显示公司周例会会议记录以及战略纲领等内容。</p>
      <img src="/img/help/meeting1.png" width="100%">
      <h4>添加</h4>
      <p>创建会议内容或者战略纲领内容，将内容编写完成后，点击保存按钮。注：点击保存后的内容只有自己才能看见，待确认编写无误点击提交按钮后其余用户才可见。</p>
      <img src="/img/help/meeting2.png" width="50%">
      <h4>修改</h4>
      <p>提交后的会议记录默认只能查看不能修改，如要修改，需要先退回，退回后该纪录只有上传者可见，用户可点击修改按钮，对之前编辑的内容进行修改，修改后点确定按钮进行保存。</p>
      <h4>提交</h4>
      <p>当编辑的内容确认无误后需点击提交按钮进行提交，否则该文档有自己可见，其余用户看不见该文件。</p>
      <h4>查看</h4>
      <p>点击查看按钮可以产看对应的文档详细内容。支持打印和评价等功能。</p>
      <img src="/img/help/meeting3.png" width="100%">
      <h4>退回</h4>
      <p>已提交的文件如果发现有什么问题的时候，可以点击退回按钮把该文件退回到文档编辑人处进行修改。修改后进行二次提交即可。注：如果您发现文件编辑错误且已经提交，请联系您的直属领导进行退回操作。</p>
      <hr>
      <h2 id="section-4">下达设计任务</h2>
      <o>本功能是将项目任务下达给指定设计科室。注意：该模块只能查看已经创建未被下达的设计任务，已经下达的设计任务不能在此处查看。</o>
      <img src="/img/help/ddt1.png" width="100%">
      <h4>添加</h4>
      <p>点击添加按钮，录入待创建项目信息，点击提交按钮进行保存。</p>
      <img src="/img/help/ddt2.png" width="50%">
      <h4>删除</h4>
      <p>点击删除按钮，可将该项目进行删除。</p>
      <h4>分配任务按钮</h4>
      <p>点击分配按钮，会出现四个下拉选框，包含机械设计、液压设计、电气设计、软件设计，分别选择将该任务分配给对应的设计科室。</p>
      <img src="/img/help/ddt3.png" width="100%">
      <h4>下达设计任务按钮</h4>
      <p>点击该按钮，将以上分配好的设计任务下达给对应的设计科室。注意：如果已经下达的设计任务想要进行修改操作，请到项目看板模块中多项目看板模块进行修改。</p>
      <hr>
      <h2 id="section-5">多项目看板</h2>
      <p>已经下达的设计任务在多项目看板可以查看，最上面的为搜索栏提供各项信息搜索功能，选择好要搜索的信息点击“搜索”按钮即可搜索到相关的任务信息；搜索栏下面就是所有下达的任务显示，在各项任务后面有个蓝色“查看”按钮（“查看”按钮为绿色，表明该任务互动专区有互动内容），左键点击之后就可以进入到单项目看板界面在此界面中可以对该项任务进行具体查看及操作。</p>
      <img src="/img/help/multi1.png" width="100%">
      <hr>
      <h2 id="section-6">单项目看板</h2>
      <p>单项目看板可以查看单个项目的项目进展情况，其中任务框颜色含义：灰色代表任务未开始、黄色代表任务进行中、绿色代表任务已完成、红色代表不需要该任务。如图：</p>
      <img src="/img/help/single1.png" width="100%">
      <h4>文件上传下载删除</h4>
      <p>对于有权限的用户，支持上传word、PDF、图片等格式文件的上传下载删除等操作。点击“文件”按钮，进行相关操作。</p>
      <img src="/img/help/single2.png" width="50%">
      <h4>阶段任务详细查看</h4>
      <p>点击“查看”按钮，可以查看科室阶段任务的详细信息。</p>
      <img src="/img/help/single3.png" width="50%">
      <h4>编辑任务进度</h4>
      <p>对于有权限的用户，可以编辑任务状态，一般包含开始、完成等状态。还可编辑任务负责人、预计时间、备注等信息。</p>
      <img src="/img/help/single4.png" width="50%">
      <h4>编辑任务负责人</h4>
      <p>编辑任务负责人，方便进行员工工时统计，项目工时统计，同时方便项目研发环节追溯等。其中负责人为必填项，且同一负责人不要重复录入相同的工作内容。</p>
      <img src="/img/help/single5.png" width="70%">
      <h4>修改项目信息</h4>
      <p>点击“修改项目”按钮，跳转到修改项目页面，可对该项目信息进行调整，包含项目内容，项目下达科室。还可点击左侧项目任务列表中操作栏按钮，调整对应项目任务环节是否需要。</p>
      <img src="/img/help/single6.png" width="100%">
      <h4>取消和恢复项目</h4>
      <p>点击右上角“取消”按钮可对该项目进行取消或恢复操作，取消的项目在项目看板中显示红色。</p>
      <img src="/img/help/single7.png" width="100%">
      <h2 id="section-7">设计进度看板</h2>
      <p>该功能与多项目看板功能类似，但区别在于多项目看板查看的是技术协议、合同、设计、工艺、制造安装、调试运行、验收、图纸存档等项目全生命周期。设计进度看板更能直观展现设计科室工作环节完成情况，其中包含签技术协议、设计、条件相关、采购计划、下图纸、调试运行等环节。</p>
      <img src="/img/help/design1.png" width="100%">
      <h2 id="section-8">工艺进度看板</h2>
      <p>该功能与多项目看板功能类似，但能更直观查看工艺环节任务完成情况。</p>
      <img src="/img/help/process1.png" width="100%">
      <h2 id="section-9">生产进度看板</h2>
      <p>该功能与多项目看板功能类似，但能更直观查看生产环节任务完成情况。</p>
      <img src="/img/help/produce1.png" width="100%">
      <h2 id="section-10">项目人工统计</h2>
      <p>该功能主要查看项目工时的统计，包含该项目参与人员、所用工时、参与任务等信息。其中检索条件中‘任务类型’包含项目任务、设计任务、工艺任务、生产任务，点‘搜索’按钮查询前，可先调整自己要查找的任务类型再做查询操作。</p>
      <img src="/img/help/work1.png" width="100%">
      <h2 id="section-11">员工业绩查询</h2>
      <p>该功能主要查看员工参与的所有项目以及所负责的任务和所用工时等信息。</p>
      <img src="/img/help/performance1.png" width="100%">
      <h2 id="section-12">互动专区</h2>
      <p>该功能主要查看用户互动信息，点击左侧项目，右侧会显示该项目用户具体的沟通信息内容。</p>
      <img src="/img/help/interactive1.png" width="100%">
      <h2 id="section-13">项目文件查询</h2>
      <p>该功能主要查看所有有上传文件的项目和上传文件的数量，项目文件包含合同、任务单、技术协议、验收报告等。可点击“查看”按钮进入单项目看板查看具体上传文件的内容。</p>
      <img src="/img/help/files1.png" width="100%">
    </div>
  </div>
</div>
</body>
</html>