<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<style type="text/css">
  #photo {
    max-width:100%;
    max-height:350px;
  }
  .img-preview-box {
    text-align: center;
  }
  .img-preview-box > div {
    display: inline-block;;
    margin-right: 10px;
  }
  .img-preview {
    overflow: hidden;
  }
  .img-preview-box .img-preview-lg {
    width: 150px;
    height: 150px;
  }
  .img-preview-box .img-preview-md {
    width: 100px;
    height: 100px;
  }
  .img-preview-box .img-preview-sm {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
</style>
<!--修改密码-->
<div class="modal fade" id="modal-info">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改密码</h4>
      </div>
      <div class="modal-body">

        <form id="userForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label no-padding-right">新的密码</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="password" name="password" placeholder="请输入新密码" >
            </div>
          </div>
          <div class="form-group">
            <label for="rePassword" class="col-sm-2 control-label no-padding-right">重复密码</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="rePassword" name="rePassword" placeholder="请再输入一次" >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="btn-commit">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--修改头像-->
<div class="modal fade" id="modal-upload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改头像</h4>
      </div>
      <div class="modal-body">
        <p class="tip-info text-center">
          未选择图片
        </p>
        <div class="img-container hidden">
          <img src="" alt="" id="photo">
        </div>
        <div class="img-preview-box hidden">
          <hr>
          <span>150*150:</span>
          <div class="img-preview img-preview-lg">
          </div>
          <span>100*100:</span>
          <div class="img-preview img-preview-md">
          </div>
          <span>30*30:</span>
          <div class="img-preview img-preview-sm">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label class="btn btn-danger pull-left" for="photoInput">
          <input type="file" class="sr-only" id="photoInput" accept="image/*">
          <span>打开图片</span>
        </label>
        <button type="button" class="btn btn-info disabled" disabled id="btn-upload" onclick="sendPhoto()">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Site wrapper -->
  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <span class="logo-lg"><b style="float:left">项目看板系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" title="菜单缩放" role="button"></a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown messages-menu">
            <a href="#" title="互动专区消息提示" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success" id="messageCount"></span>
            </a>
            <ul class="dropdown-menu" id="unread-message">
              <!--<li class="header" id="topic-message">未读消息</li>-->
            </ul>
          </li>

          <li shiro:authenticated="true" class="dropdown user user-menu">
            <a href="#" id="account" class="dropdown-toggle" data-toggle="dropdown">
              <img th:src="${#strings.isEmpty(session.user.img)}?@{/img/person.png}:${session.user.img}" id="userImage" class="user-image img-circle" alt="User Image">
              <span class="hidden-xs" th:text="${session.user.name}">Alexander Pierce</span>
            </a>
          </li>
          <li shiro:authenticated="true">
            <a href="#" id="updatePassword" ><i class="fa fa-edit">&nbsp;修改密码</i></a>
          </li>
          <li>
            <a th:href="@{/logout}" ><i class="fa fa-sign-out">&nbsp;退出</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">项目菜单</li>
        <li shiro:hasPermission="meeting:index" >
          <a th:href="@{/meeting/list}" target="content">
            <i class="fa fa-book text-aqua"></i>
            <span>公司战略纲领</span>
          </a>
        </li>
        <li shiro:hasPermission="project:create" >
          <a th:href="@{/project/create}" target="content">
            <i class="fa fa-book text-red"></i>
            <span>创建项目</span>
          </a>
        </li>
        <li shiro:hasPermission="project:many" class="active">
          <a th:href="@{/project/many}" target="content">
            <i class="fa fa-files-o text-green"></i>
            <span>多项目看板</span>
          </a>
        </li>
        <li shiro:hasPermission="depts:index">
          <a th:href="@{/project/depts}" target="content">
            <i class="fa fa-pencil text-red"></i>
            <span>设计进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="process:index">
          <a th:href="@{/project/process}" target="content">
            <i class="fa fa-table text-yellow"></i>
            <span>工艺进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="produce:index">
          <a th:href="@{/project/produce}" target="content">
            <i class="fa fa-ambulance text-aqua"></i>
            <span>生产进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="system:menu" class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-orange"></i>
            <span>系统菜单</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="user:list" target="content"><i class="fa fa-circle-o text-red"></i> 用户列表</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="role:list" target="content"><i class="fa fa-circle-o text-yellow"></i> 角色列表</a></li>
            <li><a th:href="@{/sys/permissions}" shiro:hasPermission="permission:list" target="content"><i class="fa fa-circle-o text-blue"></i> 权限列表</a></li>
            <li><a th:href="@{/sys/logs}" shiro:hasPermission="log:list" target="content"><i class="fa fa-circle-o text-green"></i> 操作日志</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <iframe id="content" th:src="@{/project/many}" scrolling="auto" frameborder="0" name="content" width="100%" height="100%"></iframe>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<div th:include="include :: footer"></div>
<script th:inline="javascript">
    function changeFrameHeight() {
        var ifm = document.getElementById("content");
        ifm.height = document.documentElement.clientHeight - 56;
    }

    window.onresize = function () {
        changeFrameHeight();
    };

    var userForm = $("#userForm");

    function setValid() {
      userForm.bootstrapValidator({
        feedbackIcons: {
          valid: 'glyphicon glyphicon-ok',
          invalid: 'glyphicon glyphicon-remove',
          validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
          password: {validators: {notEmpty: {message: '请输入密码'}}},
          rePassword: {validators: {notEmpty: {message: '请确认密码'},identical: { field: 'password', message: '两次密码不一致'}}}
        }
      });
    }

    /** 修改密码 */
    function createEvent() {
      $("#btn-commit").click(function () {
        userForm.bootstrapValidator('validate');//提交验证
        if (userForm.data('bootstrapValidator').isValid()) {//获取验证结果，如果成功，执行下面代码
          $.ajax({
            url: "/update",
            type:"POST",
            data : userForm.serialize(),
            success: function(result){
              if (result.status === 200) {
                $("#modal-info").modal('hide');
                toastr.success("编辑成功！");
              }
            },
            error: function() {
              toastr.success("编辑失败！");
            }
          });
        }
      });
    }

    function getReceiver() {
      $("#unread-message").html('');
      $("#messageCount").html('');
      // $("#topic-message").html('无新消息');
      $.ajax({
        url: "/message/user/receiver",
        type:"get",
        data : userForm.serialize(),
        success: function(result){
          if (result.status === 200) {
            if (result.content.length > 0) {
              $("#messageCount").html(result.content.length);
              // $("#topic-message").html('未读消息');
              var data = result.content;
              for (var i=0;i<data.length;i++){
                var img = data[i].message.user.img;
                if (img == null) {
                  img = /*[[@{/img/person.png}]]*/;
                }
                $("#unread-message").append('<li><ul class="menu"><li><a class="message-single" href="/project/single/message/' + data[i].project.id + '/' + data[i].id +
                    '" target="content"><div class="pull-left">' +
                    '<img class="img-circle" alt="User Image" src="' + img
                    + '"></div><h4>' + data[i].message.user.name +
                    '<small><i class="fa fa-clock-o"></i>' + data[i].message.createTime +
                    '</small></h4>' +
                    '<p>' +data[i].message.content +
                    '</p></a></li></ul></li>');
              }
            }
          }
        }
      });
    }

    var initCropperInModal = function(img, input, modal){
      var $image = img;
      var $inputImage = input;
      var $modal = modal;
      var options = {
        aspectRatio: 1, // 纵横比
        viewMode: 2,
        preview: '.img-preview' // 预览图的class名
      };
      // 模态框隐藏后需要保存的数据对象
      var saveData = {};
      var URL = window.URL || window.webkitURL;
      var blobURL;
      $modal.on('show.bs.modal',function () {
        // 如果打开模态框时没有选择文件就点击“打开图片”按钮
        if(!$inputImage.val()){
          $inputImage.click();
        }
      }).on('shown.bs.modal', function () {
        // 重新创建
        $image.cropper( $.extend(options, {
          ready: function () {
            // 当剪切界面就绪后，恢复数据
            if(saveData.canvasData){
              $image.cropper('setCanvasData', saveData.canvasData);
              $image.cropper('setCropBoxData', saveData.cropBoxData);
            }
          }
        }));
      }).on('hidden.bs.modal', function () {
        // 保存相关数据
        saveData.cropBoxData = $image.cropper('getCropBoxData');
        saveData.canvasData = $image.cropper('getCanvasData');
        // 销毁并将图片保存在img标签
        $image.cropper('destroy').attr('src',blobURL);
      });
      if (URL) {
        $inputImage.change(function() {
          var files = this.files;
          var file;
          if (!$image.data('cropper')) {
            return;
          }
          if (files && files.length) {
            file = files[0];
            if (/^image\/\w+$/.test(file.type)) {

              if(blobURL) {
                URL.revokeObjectURL(blobURL);
              }
              blobURL = URL.createObjectURL(file);

              // 重置cropper，将图像替换
              $image.cropper('reset').cropper('replace', blobURL);

              // 选择文件后，显示和隐藏相关内容
              $('.img-container').removeClass('hidden');
              $('.img-preview-box').removeClass('hidden');
              $('#btn-upload').removeAttr('disabled').removeClass('disabled');
              $('.tip-info').addClass('hidden');

            } else {
              window.alert('请选择一个图像文件！');
            }
          }
        });
      } else {
        $inputImage.prop('disabled', true).addClass('disabled');
      }
    }


    var sendPhoto = function(){
      var photo = $('#photo').cropper('getCroppedCanvas', {
        width: 300,
        height: 300
      }).toDataURL('image/png');
      $.ajax({
        url: '/sys/user/updateImage', // 要上传的地址
        type: 'post',
        data: {
          'imageData': photo
        },
        dataType: 'json',
        success: function (data) {
          if (data.status === 200) {
            // 将上传的头像的地址填入，为保证不载入缓存加个随机数
            debugger;
            $('#userImage').attr('src', data.content);
            $('#modal-upload').modal('hide');

          } else {
            toastr.success("编辑失败！");
          }
        }
      });
    }

    $(function () {

      setValid();

      createEvent();

      $(".sidebar-menu>li").click(function () {
        $(".sidebar-menu>li").removeClass("active");
        // $(".treeview").removeClass("menu-open");
        $(this).addClass("active");
      });

      $(".treeview-menu>li").click(function () {
        $(".treeview-menu>li").removeClass("active");
        $(this).addClass("active");
      });

      $("#updatePassword").click(function () {
        $('#modal-info').modal('show');
      });

      $("#account").click(function () {
        $('#modal-upload').modal('show');
      });

      changeFrameHeight();

      getReceiver();

      initCropperInModal($('#photo'),$('#photoInput'),$('#modal-upload'));

    })
</script>
</body>
</html>
