<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<!--修改密码-->
<div class="modal fade" id="modal-updatePassword">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改密码</h4>
      </div>
      <div class="modal-body">

        <form id="userForm" class="form-horizontal" role="form">
          <div class="form-group">
            <label for="password" class="col-sm-2 control-label no-padding-right">新的密码</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="password" name="password" placeholder="请输入新密码" >
            </div>
          </div>
          <div class="form-group">
            <label for="rePassword" class="col-sm-2 control-label no-padding-right">重复密码</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="rePassword" name="rePassword" placeholder="请再输入一次" >
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" id="btn-updatePassword">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--修改头像-->
<div class="modal fade" id="modal-upload">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改头像</h4>
      </div>
      <div class="modal-body">
        <p class="tip-info text-center">
          未选择图片
        </p>
        <div class="img-container hidden">
          <img src="" alt="" id="photo">
        </div>
        <div class="img-preview-box hidden">
          <hr>
          <span>150*150:</span>
          <div class="img-preview img-preview-lg">
          </div>
          <span>100*100:</span>
          <div class="img-preview img-preview-md">
          </div>
          <span>30*30:</span>
          <div class="img-preview img-preview-sm">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <label class="btn btn-danger pull-left" for="photoInput">
          <input type="file" class="sr-only" id="photoInput" accept="image/*">
          <span>打开图片</span>
        </label>
        <button type="button" class="btn btn-info disabled" disabled id="btn-upload" onclick="sendPhoto()">确定</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- Site wrapper -->
  <div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <span class="logo-lg"><b style="float:left">项目看板系统</b></span>
    </a>
    <nav class="navbar navbar-static-top">

      <a href="#" class="sidebar-toggle" data-toggle="push-menu" title="菜单缩放" role="button"></a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">

          <li class="dropdown messages-menu">
            <a href="#" title="互动专区消息提示" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success" id="messageCount"></span>
            </a>
            <ul class="dropdown-menu" id="unread-message">
              <!--<li class="header" id="topic-message">未读消息</li>-->
            </ul>
          </li>

          <li shiro:authenticated="true" class="dropdown user user-menu">
            <a href="#" id="account" class="dropdown-toggle" data-toggle="dropdown" onclick="$.modal.open('modal-upload')">
              <img th:src="${#strings.isEmpty(session.user.img)}?@{/img/person.png}:${session.user.img}" id="userImage" class="user-image img-circle" alt="User Image">
              <span class="hidden-xs" th:text="${session.user.name}">Alexander Pierce</span>
            </a>
          </li>
          <li shiro:authenticated="true">
            <a href="#" id="updatePassword" onclick="$.modal.open('modal-updatePassword')" ><i class="fa fa-edit">&nbsp;修改密码</i></a>
          </li>
          <li>
            <a th:href="@{/logout}" ><i class="fa fa-sign-out">&nbsp;退出</i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">

        <li shiro:hasPermission="overview:menu" class="treeview menu-open">
          <a href="#">
            <i class="fa fa-folder-open text-danger"></i>
            <span>总览</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu" style="display: block;">
            <li class="active"><a th:href="@{/sys/users}" shiro:hasPermission="overview:statistics" target="content"><i class="fa fa-circle-o text-red"></i> 项目统计</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 公司战略纲领</a></li>
          </ul>
        </li>

        <li shiro:hasPermission="project:menu" class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-success"></i>
            <span>立项管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="overview:statistics" target="content"><i class="fa fa-circle-o text-red"></i> 创建项目</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 下达设计任务</a></li>
          </ul>
        </li>

        <li shiro:hasPermission="project:menu" class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-success"></i>
            <span>项目看板</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="overview:statistics" target="content"><i class="fa fa-circle-o text-red"></i> 多项目看板</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 设计任务进度看板</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 工艺任务进度看板</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 生产任务进度看板</a></li>
          </ul>
        </li>

        <li shiro:hasPermission="project:menu" class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-success"></i>
            <span>项目综合管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="overview:statistics" target="content"><i class="fa fa-circle-o text-red"></i> 人力成本</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 互动专区</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 文件管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 任务单查询</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 技术协议查询</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 合同查询</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 验收查询</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 存档查询</a></li>
          </ul>
        </li>

        <!--<li shiro:hasPermission="project:menu" class="treeview">-->
        <li class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-success"></i>
            <span>系统管理</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="user:list" target="content"><i class="fa fa-circle-o text-red"></i> 帐号管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="role:list" target="content"><i class="fa fa-circle-o text-success"></i> 角色管理</a></li>
            <li><a th:href="@{/sys/permissions}" shiro:hasPermission="permission:list" target="content"><i class="fa fa-circle-o text-warning"></i> 权限管理</a></li>
            <li><a th:href="@{/sys/depts}" shiro:hasPermission="dept:list" target="content"><i class="fa fa-circle-o text-info"></i> 部门管理</a></li>
            <li><a th:href="@{/sys/emps}" shiro:hasPermission="emp:list" target="content"><i class="fa fa-circle-o text-success"></i> 员工管理</a></li>
            <li><a th:href="@{/sys/sectypes}" shiro:hasPermission="sectype:list" target="content"><i class="fa fa-circle-o text-success"></i> 科室类型管理</a></li>
            <li><a th:href="@{/sys/secs}" shiro:hasPermission="sec:list" target="content"><i class="fa fa-circle-o text-success"></i> 科室管理</a></li>
            <li><a th:href="@{/sys/types}" shiro:hasPermission="type:list" target="content"><i class="fa fa-circle-o text-success"></i> 项目类型管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 项目任务管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 设计任务管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 工艺任务管理</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="overview:meeting" target="content"><i class="fa fa-circle-o text-success"></i> 生产任务管理</a></li>
            <li><a th:href="@{/sys/logs}" shiro:hasPermission="log:list" target="content"><i class="fa fa-circle-o text-success"></i> 操作日志</a></li>
          </ul>
        </li>


        <!--<li class="header">项目菜单</li>
        <li shiro:hasPermission="meeting:index" >
          <a th:href="@{/meeting/list}" target="content">
            <i class="fa fa-book text-aqua"></i>
            <span>公司战略纲领</span>
          </a>
        </li>
        <li shiro:hasPermission="project:create" >
          <a th:href="@{/project/create}" target="content">
            <i class="fa fa-book text-red"></i>
            <span>创建项目</span>
          </a>
        </li>
        <li shiro:hasPermission="project:many" class="active">
          <a th:href="@{/project/many}" target="content">
            <i class="fa fa-files-o text-green"></i>
            <span>多项目看板</span>
          </a>
        </li>
        <li shiro:hasPermission="depts:index">
          <a th:href="@{/project/depts}" target="content">
            <i class="fa fa-pencil text-red"></i>
            <span>设计进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="process:index">
          <a th:href="@{/project/process}" target="content">
            <i class="fa fa-table text-yellow"></i>
            <span>工艺进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="produce:index">
          <a th:href="@{/project/produce}" target="content">
            <i class="fa fa-ambulance text-aqua"></i>
            <span>生产进度看板</span>
          </a>
        </li>
        <li shiro:hasPermission="system:menu" class="treeview">
          <a href="#">
            <i class="fa fa-folder-open text-orange"></i>
            <span>系统菜单</span><span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
          </a>
          <ul class="treeview-menu">
            <li><a th:href="@{/sys/users}" shiro:hasPermission="user:list" target="content"><i class="fa fa-circle-o text-red"></i> 用户列表</a></li>
            <li><a th:href="@{/sys/roles}" shiro:hasPermission="role:list" target="content"><i class="fa fa-circle-o text-yellow"></i> 角色列表</a></li>
            <li><a th:href="@{/sys/permissions}" shiro:hasPermission="permission:list" target="content"><i class="fa fa-circle-o text-blue"></i> 权限列表</a></li>
            <li><a th:href="@{/sys/logs}" shiro:hasPermission="log:list" target="content"><i class="fa fa-circle-o text-green"></i> 操作日志</a></li>
          </ul>
        </li>-->
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <iframe id="content" th:src="@{/project/many}" scrolling="auto" frameborder="0" name="content" width="100%" height="100%"></iframe>
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->

<div th:include="include :: footer"></div>
<script th:src="@{/js/index.js}"></script>
</body>
</html>
