<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition login-page" style="background: white" th:style="|background-image: url(@{/img/bglogin.jpg}); background-repeat: no-repeat;background-size: cover;background-attachment: fixed;|">
<div class="row text-center" style="margin-top: 64px" >
  <img th:src="@{/img/logo3.jpg}" width="112px" height="136px"  style="vertical-align: middle">
  <h1 style="font-size: 56px;vertical-align: middle"><b style="color: white;">辽宁忠旺机械设备制造有限公司</b></h1>
</div>
<div class="login-box" style="margin-top: 32px">

  <div class="login-logo">
    <b style="color: white;">项目看板系统</b>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">登录</p>

    <form id="userForm" th:action="@{/login}" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" name="userName" placeholder="请输入用户名">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="请输入密码">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button id="btn_login" type="button" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div th:include="include :: footer"></div>
<script>
  if (window.parent.window != window) {
    window.top.location = ctx;
  }
</script>
<script th:src="@{/js/login.js}"></script>
</body>
</html>
