<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        设计进度看板
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row" id="queryHiddenDiv" hidden style="margin-bottom: 10px">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目名称</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入项目名称">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>需方</label>
                    <input type="text" id="demanderQuery" name="demanderQuery" class="form-control" placeholder="请输入需方">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>地点</label>
                    <input type="text" id="addressQuery" name="addressQuery" class="form-control" placeholder="请输入需方">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>时间</label>
                    <input type="text" class="form-control datepicker" id="startTimeQuery" readonly="readonly" />
                    <span>至</span>
                    <input type="text" class="form-control datepicker" id="endTimeQuery" readonly="readonly" />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目号</label>
                    <input type="text" id="codeQuery" name="code" class="form-control" placeholder="请输入项目号">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>年度</label>
                    <select id="yearQuery" name="yearQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>
                      状态
                    </label>
                    <select id="statusQuery" name="statusQuery" class="form-control select2" >
                      <option value="1" selected="selected">未完成</option>
                      <option value="2">已完成</option>
                      <option value="">全部</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>设计科室</label>
                    <select id="sectionQuery" name="sectionQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                      <option th:each="section:${sections}" th:value="${section.id}" th:text="${section.name}"></option>
                    </select>
                  </div>
                  <span class="btn btn-default" id="down" onclick="showQuery()">显示更多条件</span>
                  <span class="btn btn-default" id="up" style="display: none" onclick="hiddenQuery()">隐藏更多条件</span>
                  <button class="btn btn-vk" id="btn_search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <table id="designTable" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>项目名称</th>
                  <th>需方</th>
                  <th>安装地点</th>
                  <th>项目号</th>
                  <th>任务单号</th>
                  <th>数量</th>
                  <th>科室</th>
                  <th>签技术协议</th>
                  <th>设计</th>
                  <th>条件相关</th>
                  <th>采购计划</th>
                  <th>下图纸</th>
                  <th>调试运行</th>
                  <th>备注</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="goToTop" th:style="|position:fixed; right:0px; bottom:10px; width:20px; height:75px; background-image: url(@{/img/gototop.gif}); cursor:pointer|"></div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var ctx = ctx + 'board', temp;
      var statusName = ["未开始","执行中","已完成","已取消"];
      var statusColor = ["", "#f39c12", "#00a65a"];

      function showQuery() {
        $("#queryHiddenDiv").show();
        $("#up").show();
        $("#down").hide();
      }

      function hiddenQuery() {
        $("#queryHiddenDiv").hide();
        $("#up").hide();
        $("#down").show();
      }

      function yearSelectCreate() {
        var myDate= new Date();
        var endYear=myDate.getFullYear();
        for (var i=2016;i<=endYear;i++)
        {
          if(i === 2016)
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年及以前" +"</option>");
          else
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年" +"</option>");
        }
      }

      // 合并单元格
      function merge(rowSpanTr, currentRow, rowSpan, arr) {
        $.each(arr, function (index, value) {
          $('td', rowSpanTr).eq(value).attr("rowSpan", rowSpan);
          $('td', currentRow).eq(value).hide();
        })
      }

      $(function () {
        yearSelectCreate();
        // 加载列表
        $.table.init({
          buttons: [
            {
              extend: 'excel',
              text: '导出Excel',
              className: 'btn btn-success pull-right',
              filename: '设计进度看板',
              exportOptions: {
                columns: [ 0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
              }
            }
          ],
          id: "designTable",
          fixedHeader: true,
          scrollX: true,
          dom: "Tf<'row'<'col-sm-5 col-sm-offset-6'p><'col-sm-1'B>>t<'row DTTTFooter'<'col-sm-6'i><'col-sm-5'p><'col-sm-1'B>>",
          url: ctx + "/design/list",
          data : {
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            sectionQuery : $("#sectionQuery").val(),
            statusQuery : $("#statusQuery").val()
          },
          fixedColumns: {
            rightColumns: 1
          },
          columns: [
            {
              data: "rowNumber",
              width: "8px"
            },
            { data: "name",
              width: "180px"
            },
            { data: "demander",
              width: "170px"
            },
            { data: "address",
              width: "100px"
            },
            { data: "code"
            },
            { data: "codeSpecial"
            },
            { data: "num",
              width: "30px"
            },
            { data: "sectionName",
              width: "140px"
            },
            { data: "signStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "firstCompleteStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  if (rowData.firstStatus === 0) {
                    $(td).css("background-color",'#FF0000');
                  } else {
                    $(td).css("background-color", statusColor[cellData]);
                  }
                }
              }
            },
            { data: "secondCompleteStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  if (rowData.secondStatus === 0) {
                    $(td).css("background-color",'#FF0000');
                  } else {
                    $(td).css("background-color", statusColor[cellData]);
                  }
                }
              }
            },
            { data: "thirdCompleteStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  if (rowData.thirdStatus === 0) {
                    $(td).css("background-color",'#FF0000');
                  } else {
                    $(td).css("background-color", statusColor[cellData]);
                  }
                }
              }
            },
            { data: "fourthCompleteStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  if (rowData.fourthStatus === 0) {
                    $(td).css("background-color",'#FF0000');
                  } else {
                    $(td).css("background-color", statusColor[cellData]);
                  }
                }
              }
            },
            { data: "debugStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "comment",
              width: "100px",
              render : function(data, type, row, meta) {
                if (data.length > 10) {
                  return '<span title="' + data + '">' + data.substr(0, 10) + '...</span>';
                }
                return data;
              }
            },
            { data: "id",
              "width": "40px",
              render : function(data, type, row, meta) {
                return '<a target="_blank" style="margin-right: 5px" class="btn btn-info btn-xs many-view" href="' + ctx + '/single/' + data + '">查看</a>';
              }
            }
          ],
          pageCallBack: function () {
            temp = null;
          },
          createdRow: function (row, data, index) {
            if (data.projectStatus === 0) {
              $(row).css('background', '#FF0000');
            }
            if (temp != null && data.code === $('td', temp).eq(4).html()) {
              var rowSpan = $('td', temp).eq(4).attr("rowSpan");
              if (rowSpan === undefined) {
                $('td', temp).eq(4).attr("rowSpan", 1);
                rowSpan = $('td', temp).eq(4).attr("rowSpan");
              }
              rowSpan = Number(rowSpan) + 1;
              merge(temp, row, rowSpan, [0, 1, 2, 3, 4, 5, 6, 8, 13, 14, 15]);
            } else {
              temp = row;
              $('td', row).css("border-top", '1px solid black');
            }
          }
        });
        // 搜索
        $("#btn_search").click(function () {
          temp = null;
          $.table.search({
            codeQuery: $("#codeQuery").val(),
            yearQuery : $("#yearQuery").val(),
            statusQuery : $("#statusQuery").val(),
            sectionQuery : $("#sectionQuery").val(),
            nameQuery: $("#nameQuery").val(),
            demanderQuery: $("#demanderQuery").val(),
            addressQuery: $("#addressQuery").val(),
            startTimeQuery: $("#startTimeQuery").val(),
            endTimeQuery: $("#endTimeQuery").val()
          });
        });
      });

    </script>
</body>
</html>
