<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        生产进度看板
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row" id="queryHiddenDiv" style="margin-bottom: 10px">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目名称</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入项目名称">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>需方</label>
                    <input type="text" id="demanderQuery" name="demanderQuery" class="form-control" placeholder="请输入需方">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>地点</label>
                    <input type="text" id="addressQuery" name="addressQuery" class="form-control" placeholder="请输入地点">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>项目号</label>
                    <input type="text" id="codeQuery" name="codeQuery" class="form-control" placeholder="请输入项目号">
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>数量</label>
                    <input type="number" id="numQuery" name="numQuery" class="form-control" placeholder="请输入数量">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>时间</label>
                    <input type="text" class="form-control datepicker" id="startTimeQuery" readonly="readonly" />
                    <span>至</span>
                    <input type="text" class="form-control datepicker" id="endTimeQuery" readonly="readonly" />
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>年度</label>
                    <select id="yearQuery" name="yearQuery" class="form-control select2" >
                      <option value="" selected="selected">请选择</option>
                    </select>
                  </div>
                  <div class="form-group" style="margin-right: 10px;">
                    <label>
                      状态
                    </label>
                    <select id="statusQuery" name="statusQuery" class="form-control select2" >
                      <option value="1" selected="selected">未完成</option>
                      <option value="2">已完成</option>
                      <option value="">全部</option>
                    </select>
                  </div>
                  <button class="btn btn-vk" id="btn_search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
              </div>
            </div>
            <div class="box-body">
              <table id="produceTable" class="table table-bordered" width="100%">
                <thead>
                <tr>
                  <th>序号</th>
                  <th>项目名称</th>
                  <th>需方</th>
                  <th>安装地点</th>
                  <th>项目号</th>
                  <th>数量</th>
                  <th>铆焊制作</th>
                  <th>机加外协装配</th>
                  <th>基础条件</th>
                  <th>现场安装</th>
                  <th>备注</th>
                  <th>操作</th>
                </tr>
                </thead>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="goToTop" th:style="|position:fixed; right:0px; bottom:10px; width:20px; height:75px; background-image: url(@{/img/gototop.gif}); cursor:pointer|"></div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">

      var ctx = ctx + 'board'
      var statusName = ["未开始","执行中","已完成","已取消"];
      var statusColor = ["", "#f39c12", "#00a65a"];

      function yearSelectCreate() {
        var myDate= new Date();
        var endYear=myDate.getFullYear();//结束年份
        for (var i=2016;i<=endYear;i++)
        {
          if(i === 2016)
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年及以前" +"</option>");
          else
            $("#yearQuery").append("<option value='"+ i +"'>"+ i + "年" +"</option>");
        }
      }

      $(function () {
        yearSelectCreate();
        // 加载列表
        $.table.init({
          buttons: [
            {
              extend: 'excel',
              text: '导出Excel',
              className: 'btn btn-success pull-right',
              filename: '生产进度',
              exportOptions: {
                columns: [ 0,1,2,3,4,5,6,7,8,9,10]
              }
            }
          ],
          id: "produceTable",
          info: true,
          fixedHeader: true,
          scrollX: true,
          dom: "Tf<'row'<'col-sm-5 col-sm-offset-6'p><'col-sm-1'B>>t<'row DTTTFooter'<'col-sm-6'i><'col-sm-5'p><'col-sm-1'B>>",
          url: ctx + "/produce/list",
          data : {
            codeQuery: $("#codeQuery").val(),
            nameQuery: $("#nameQuery").val(),
            statusQuery : $("#statusQuery").val(),
            yearQuery : $("#yearQuery").val()
          },
          fixedColumns: {
            rightColumns: 1
          },
          columns: [
            {
              data: null,
              width: "8px",
              render : function (data, type, row, meta) {
                return meta.row + 1 + meta.settings._iDisplayStart;;
              }
            },
            { data: "name",
              width: "80px"
            },
            { data: "demander",
              width: "80px"
            },
            { data: "address",
              width: "80px"
            },
            { data: "code",
              width: "100px"
            },
            { data: "num",
              width: "30px"
            },
            { data: "firstStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "secondStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "thirdStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "fourthStatus",
              width: "70px",
              render: function (data, type, row, meta) {
                return statusName[data];
              },
              createdCell: function (td, cellData, rowData, row, col) {
                if (rowData.projectStatus !== 0) {
                  $(td).css("background-color", statusColor[cellData]);
                }
              }
            },
            { data: "comment",
              width: "100px",
              render : function(data, type, row, meta) {
                if (data.length > 10) {
                  return '<span title="' + data + '">' + data.substr(0, 10) + '...</span>';
                }
                return data;
              }
            },
            { data: "id",
              "width": "40px",
              render : function(data, type, row, meta) {
                return '<a target="_blank" style="margin-right: 5px" class="btn btn-info btn-xs many-view" href="' + ctx + '/single/' + data + '">查看</a>';
              }
            }
          ],
          createdRow: function (row, data, index) {
            $('td',row).css("border-top", '1px solid black');
            if (data.projectStatus === 0) {
              $(row).css('background', '#FF0000');
            }
          }
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            codeQuery: $("#codeQuery").val(),
            yearQuery : $("#yearQuery").val(),
            statusQuery : $("#statusQuery").val(),
            nameQuery: $("#nameQuery").val(),
            demanderQuery: $("#demanderQuery").val(),
            addressQuery: $("#addressQuery").val(),
            startTimeQuery: $("#startTimeQuery").val(),
            endTimeQuery: $("#endTimeQuery").val(),
            numQuery: $("#numQuery").val()
          });
        });
      });

    </script>
</body>
</html>
