<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
    <section class="content-header">
      <h1>
        科室类型列表
      </h1>
    </section>
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-header">
              <div class="row">
                <div class="form-inline">
                  <div class="form-group" style="margin-right: 10px;">
                    <label>名称</label>
                    <input type="text" id="nameQuery" name="nameQuery" class="form-control" placeholder="请输入名称">
                  </div>
                  <button class="btn btn-vk" id="btn_search">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                  <a th:href="@{/baseinfo/sectype/create}" class="btn btn-info pull-right" >添加</a>
                </div>
              </div>
            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-md-7">
                  <table id="secTypeTable" class="table table-bordered table-hover" width="100%">
                  <thead>
                  <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>操作</th>
                  </tr>
                  </thead>
                </table></div>
                <div class="col-md-5">
                  <form id="secTypeForm" class="form-horizontal">
                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="code" name="code">
                    <div class="box-body">
                      <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-6">
                          <input type="text" class="form-control" id="name" name="name" placeholder="请输入名称">
                        </div>
                      </div>
                    </div>
                    <div class="box-footer">
                      <button type="button" id="btn_edit" class="btn btn-info pull-right" disabled>修改</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
      var ctx = ctx + "baseinfo";
      // 删除部门类型
      function updateStatus(id) {
        $.modal.confirm("确定删除这个科室类型吗?",function () {
          $.operate.post(ctx + "/sectype/status", {"id": id}, function () {
            $.table.refresh();
            $.validate.reset();
            if (id == $("#id").val()) {
              $("#id").val('');
              $("#name").val('');
              $("#code").val('');
              $("#btn_edit").attr("disabled",true);
            }
          });
          event.stopPropagation();
        });
      }

      $(function () {
        // 加载表格
        $.table.init({
          id: "secTypeTable",
          info: true,
          url: ctx + "/sectype/list",
          columns: [
            {
              data: null,
              render : function (data, type, row, meta) {
                return meta.row + 1;
              }
            },
            { data: "name"},
            { data: "id",
              render : function(data, type, row, meta) {
                if (row.sections.length === 0 && row.taskNames.length === 0) {
                  var html = [];
                  html.push('<a class="btn btn-danger btn-xs sectype-del" href="javascript:void(0);" onclick="updateStatus(' + data + ')">删除</a>');
                  return html.join('');
                }
                return '';
              }
            }
          ]
        });
        // 点击行
        $.table.rowClick(function (data) {
          $("#id").val(data.id);
          $("#name").val(data.name);
          $("#code").val(data.code);
          $("#btn_edit").removeAttr("disabled");
          $.validate.validing();
        });
        // 搜索
        $("#btn_search").click(function () {
          $.table.search({
            nameQuery: $("#nameQuery").val()
          });
        });
        // 验证
        $.validate.init("secTypeForm", {
          fields: {
            name: {
              validators: {
                notEmpty: {message: '请输入名称'},
                remote: {
                  url: ctx + "/sectype/checkSecTypeNameUnique",
                  message: '名称已存在',
                  delay: 500,
                  type: 'POST',
                  data: {
                    id: function () {
                      return $("#id").val()
                    }
                  }
                }
              }
            }
          }
        });
        // 修改
        $("#btn_edit").click(function () {
          if ($.validate.isValid()) {
            $.operate.post(ctx + "/sectype/update",$("#secTypeForm").serialize(),function () {
              $.table.refresh();
            });
            $.validate.reset();
          }
        });
      });

    </script>
</body>
</html>
